{
  "openapi": "3.0.4",
  "servers": [{ "url": "https://api.nfse.io", "description": "Produção" }],
  "info": {
    "title": "Empresas",
    "description": "# Introdução\r\n\r\nSeja bem-vindo a documentação da API de Empresas!\r\nNossa API foi criada utilizando o padrão REST que possibilita a integração de seu sistema ao nosso, sendo assim você também pode extender ou recriar as funcionalidades existentes na nossa plataforma, tudo isso consumindo a API que está documentada abaixo.\r\n\r\n# Como usar a API?\r\nLogo a seguir você encontrará todos os recursos e métodos suportados pela API, sendo que essa página possibilita que você teste os recursos e métodos diretamente através dela.\r\n\r\n# Autenticação\r\nVocê precisa de uma chave de API (API Key) para identificar a conta que está realizando solicitações para a API.\r\nPara isso você deve colocar sua chave de API no campo que se encontra no topo desta página para que os métodos funcionem corretamente.\r\nNo seu código de integração temos suporte para autenticação de diversas formas sendo eles:\r\nHTTP Header (Authorization ou X-NFEIO-APIKEY) ou HTTP Query String (api_key) nos dois modos passando o valor da sua chave de api (API Key).",
    "version": "v2"
  },
  "paths": {
    "/v2/companies": {
      "post": {
        "tags": [
          "Companies"
        ],
        "summary": "Criar uma Empresa",
        "description": "### Informações adicionais\r\nUtilize esta requisição para criar novas empresas plataforma para processar Documentos Fiscais.\r\n**Empresa** representa uma pessoa jurídica que precisa processar Documentos Fiscais.",
        "requestBody": {
          "description": "Dados da Empresa a ser criada",
          "content": {
            "application/json;odata.metadata=minimal;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.metadata=minimal": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.metadata=full": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.metadata=none": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/json;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "text/plain": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateCompanyResource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso na criação da Empresa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CompanyResource"
                }
              }
            }
          },
          "400": {
            "description": "Algum parametro informado não é válido, verificar resposta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Consultar todas as Empresas da Conta",
        "description": "### Informações adicionais\r\nUtilize esta requisição para consultar os dados das empresas vinculadas a conta.",
        "parameters": [
          {
            "name": "startingAfter",
            "in": "query",
            "description": "Id de início do contador (Default: Empty)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endingBefore",
            "in": "query",
            "description": "Id final do contador (Default: Empty)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limite de resultados na página (Default: 10)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso na consulta da Empresa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CompaniesResource"
                }
              }
            }
          },
          "400": {
            "description": "Algum parametro informado não é válido, verificar resposta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          },
          "404": {
            "description": "Empresa não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          }
        }
      }
    },
    "/v2/companies/{company_id}": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Consultar uma Empresa pelo ID",
        "description": "### Informações adicionais\r\nUtilize esta requisição para consultar os dados de uma empresas pelo ID.",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "ID da Empresa que deverá ser retornado",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso na consulta da Empresa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CompanyResource"
                }
              }
            }
          },
          "400": {
            "description": "Algum parametro informado não é válido, verificar resposta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          },
          "404": {
            "description": "Empresa não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          }
        }
      },
      "head": {
        "tags": [
          "Companies"
        ],
        "summary": "Consultar se Empresa Existe pelo ID",
        "description": "### Informações adicionais\r\nUtilize esta requisição para consultar os dados de uma empresas pelo ID.",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "ID da Empresa que deverá ser retornado",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso na consulta da Empresa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CompanyResource"
                }
              }
            }
          },
          "400": {
            "description": "Algum parametro informado não é válido, verificar resposta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          },
          "404": {
            "description": "Empresa não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Companies"
        ],
        "summary": "Alterar uma Empresa pelo ID",
        "description": "### Informações adicionais\r\nUtilize esta requisição para alterar os dados de uma empresas pelo ID.",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "ID da Empresa que deverá ser retornado",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Dados da Empresa a ser alterada",
          "content": {
            "application/json;odata.metadata=minimal;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.metadata=minimal": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.metadata=full": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.metadata=none": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/json;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "text/plain": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateCompanyResource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso na alteração da Empresa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CompanyResource"
                }
              }
            }
          },
          "400": {
            "description": "Algum parametro informado não é válido, verificar resposta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          },
          "404": {
            "description": "Empresa não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Companies"
        ],
        "summary": "Excluir uma Empresa por ID",
        "description": "### Informações adicionais\r\nUtilize esta requisição para excluir uma empresas pelo ID, cuidado pois esse processo é irreversível.",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "ID da Empresa que deverá ser retornado",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Sucesso na exclusão da Empresa"
          },
          "400": {
            "description": "Algum parametro informado não é válido, verificar resposta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          },
          "404": {
            "description": "Empresa não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          }
        }
      }
    },
    "/v2/companies/{company_id}/certificates": {
      "post": {
        "tags": [
          "Companies Certificates"
        ],
        "summary": "Upload de um Certificado",
        "description": "### Informações adicionais\r\nUtilize esta requisição para fazer upload de um **Certificado da ICP-Brasil** do tipo __e-CNPJ A1__ ou __NFE A1__ em uma **Empresa** e vincula-lo para processamentos.\r\nO **Certificado da ICP-Brasil** funciona como uma identidade virtual, para empresas e pessoas, que permite a identificação segura e inequívoca do autor de uma mensagem ou transação feita em meios eletrônicos, como a web.",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "ID da empresa",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "File",
                  "Password"
                ],
                "type": "object",
                "properties": {
                  "File": {
                    "type": "string",
                    "description": "Arquivo com certificado ICP-Brasil com extensão .pfx ou .p12",
                    "format": "binary"
                  },
                  "Password": {
                    "type": "string",
                    "description": "Senha do certificado ICP-Brasil"
                  }
                }
              },
              "encoding": {
                "File": {
                  "style": "form"
                },
                "Password": {
                  "style": "form"
                }
              }
            },
            "application/form-data": {
              "schema": {
                "required": [
                  "File",
                  "Password"
                ],
                "type": "object",
                "properties": {
                  "File": {
                    "type": "string",
                    "description": "Arquivo com certificado ICP-Brasil com extensão .pfx ou .p12",
                    "format": "binary"
                  },
                  "Password": {
                    "type": "string",
                    "description": "Senha do certificado ICP-Brasil"
                  }
                }
              },
              "encoding": {
                "File": {
                  "style": "form"
                },
                "Password": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso no upload e vinculo com a Empresa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CertificateMetadataResource"
                }
              }
            }
          },
          "400": {
            "description": "Algum parametro informado não é válido, verificar resposta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Companies Certificates"
        ],
        "summary": "Consultar Certificado habilitado para empresa",
        "description": "### Informações adicionais\r\nUtilize esta requisição para consultar os dados do **Certificado da ICP-Brasil** habilitado para a empresa.",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "ID da Empresa relacionada ao certificado",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso na consulta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CertificatesMetadataResource"
                }
              }
            }
          },
          "400": {
            "description": "Algum parametro informado não é válido, verificar resposta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          }
        }
      }
    },
    "/v1/companies/{company_id}/certificate": {
      "post": {
        "tags": [
          "Companies Certificates"
        ],
        "summary": "Upload de um Certificado",
        "description": "### Informações adicionais\r\nUtilize esta requisição para fazer upload de um **Certificado da ICP-Brasil** do tipo __e-CNPJ A1__ ou __NFE A1__ em uma **Empresa** e vincula-lo para processamentos.\r\nO **Certificado da ICP-Brasil** funciona como uma identidade virtual, para empresas e pessoas, que permite a identificação segura e inequívoca do autor de uma mensagem ou transação feita em meios eletrônicos, como a web.",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "ID da empresa",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "File",
                  "Password"
                ],
                "type": "object",
                "properties": {
                  "File": {
                    "type": "string",
                    "description": "Arquivo com certificado ICP-Brasil com extensão .pfx ou .p12",
                    "format": "binary"
                  },
                  "Password": {
                    "type": "string",
                    "description": "Senha do certificado ICP-Brasil"
                  }
                }
              },
              "encoding": {
                "File": {
                  "style": "form"
                },
                "Password": {
                  "style": "form"
                }
              }
            },
            "application/form-data": {
              "schema": {
                "required": [
                  "File",
                  "Password"
                ],
                "type": "object",
                "properties": {
                  "File": {
                    "type": "string",
                    "description": "Arquivo com certificado ICP-Brasil com extensão .pfx ou .p12",
                    "format": "binary"
                  },
                  "Password": {
                    "type": "string",
                    "description": "Senha do certificado ICP-Brasil"
                  }
                }
              },
              "encoding": {
                "File": {
                  "style": "form"
                },
                "Password": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso no upload e vinculo com a Empresa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CertificateMetadataResource"
                }
              }
            }
          },
          "400": {
            "description": "Algum parametro informado não é válido, verificar resposta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Companies Certificates"
        ],
        "summary": "Consultar Certificado habilitado para empresa",
        "description": "### Informações adicionais\r\nUtilize esta requisição para consultar os dados do **Certificado da ICP-Brasil** habilitado para a empresa.",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "ID da Empresa relacionada ao certificado",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso na consulta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CertificatesMetadataResource"
                }
              }
            }
          },
          "400": {
            "description": "Algum parametro informado não é válido, verificar resposta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          }
        }
      }
    },
    "/v2/companies/{company_id}/certificates/{certificate_thumbprint}": {
      "get": {
        "tags": [
          "Companies Certificates"
        ],
        "summary": "Consultar um Certificado por sua impressão digital",
        "description": "### Informações adicionais\r\nUtilize esta requisição para consultar os dados de um **Certificado da ICP-Brasil** através da **impressão digital do certificado** (__thumbprint__).",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "ID da Empresa relacionada ao certificado",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "certificate_thumbprint",
            "in": "path",
            "description": "Impressão digital do certificado",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso na consulta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CertificateMetadataResource"
                }
              }
            }
          },
          "400": {
            "description": "Algum parametro informado não é válido, verificar resposta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          },
          "404": {
            "description": "Certificado não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Companies Certificates"
        ],
        "summary": "Excluir um Certificado por sua impressão digital",
        "description": "### Informações adicionais\r\nUtilize esta requisição para excluir o **Certificado da ICP-Brasil** através da **impressão digital do certificado** (__thumbprint__) e desvincula-lo da **Empresa**.\r\n**ATENÇÃO pois esta requisição é irreversível**",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "ID da Empresa relacionada ao certificado",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "certificate_thumbprint",
            "in": "path",
            "description": "Impressão digital do certificado",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Sucesso na exclusão e desvinculo com a Empresa"
          },
          "400": {
            "description": "Algum parametro informado não é válido, verificar resposta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          },
          "404": {
            "description": "Certificado não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          }
        }
      }
    },
    "/v1/companies/{company_id}/certificate/{certificate_thumbprint}": {
      "get": {
        "tags": [
          "Companies Certificates"
        ],
        "summary": "Consultar um Certificado por sua impressão digital",
        "description": "### Informações adicionais\r\nUtilize esta requisição para consultar os dados de um **Certificado da ICP-Brasil** através da **impressão digital do certificado** (__thumbprint__).",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "ID da Empresa relacionada ao certificado",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "certificate_thumbprint",
            "in": "path",
            "description": "Impressão digital do certificado",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso na consulta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CertificateMetadataResource"
                }
              }
            }
          },
          "400": {
            "description": "Algum parametro informado não é válido, verificar resposta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          },
          "404": {
            "description": "Certificado não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Companies Certificates"
        ],
        "summary": "Excluir um Certificado por sua impressão digital",
        "description": "### Informações adicionais\r\nUtilize esta requisição para excluir o **Certificado da ICP-Brasil** através da **impressão digital do certificado** (__thumbprint__) e desvincula-lo da **Empresa**.\r\n**ATENÇÃO pois esta requisição é irreversível**",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "ID da Empresa relacionada ao certificado",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "certificate_thumbprint",
            "in": "path",
            "description": "Impressão digital do certificado",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Sucesso na exclusão e desvinculo com a Empresa"
          },
          "400": {
            "description": "Algum parametro informado não é válido, verificar resposta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          },
          "404": {
            "description": "Certificado não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          }
        }
      }
    },
    "/v2/companies/{company_id}/municipaltaxes": {
      "get": {
        "tags": [
          "Companies Municipal Taxes"
        ],
        "summary": "Listar as Inscrições Municipais",
        "description": "### Informações adicionais\r\nUtilize esta requisição para listar as inscrições municipais na empresa para processar __Documentos Fiscais__.\r\n**Empresa** representa uma pessoa jurídica que precisa processar Documentos Fiscais.\r\n**Inscrição Municipal**  representa os dados necessários sobre o cadastro municipal da empresa junto à prefeitura, exigidos para a emissão de notas fiscais de serviços (NFS-e) e para o cumprimento das obrigações tributárias no âmbito municipal.",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "ID da Empresa",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startingAfter",
            "in": "query",
            "description": "Id de início do contador (Default: Empty)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endingBefore",
            "in": "query",
            "description": "Id final do contador (Default: Empty)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limite de resultados na página (Default: 10)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso na criação da Inscrição Municipal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.MunicipalTaxResource"
                }
              }
            }
          },
          "400": {
            "description": "Algum parametro informado não é válido, verificar resposta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Companies Municipal Taxes"
        ],
        "summary": "Criar uma Inscrição Municipal",
        "description": "### Informações adicionais\r\nUtilize esta requisição para criar novas inscrição municipais na empresa para processar __Documentos Fiscais__.\r\n**Empresa** representa uma pessoa jurídica que precisa processar Documentos Fiscais.\r\n**Inscrição Municipal**  representa os dados necessários sobre o cadastro municipal da empresa junto à prefeitura, exigidos para a emissão de notas fiscais de serviços (NFS-e) e para o cumprimento das obrigações tributárias no âmbito municipal.",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "ID da Empresa",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Dados da Inscrição Municipal a ser criada",
          "content": {
            "application/json;odata.metadata=minimal;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=minimal": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=full": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=none": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/json;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "text/plain": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateMunicipalTaxResource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso na criação da Inscrição Municipal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.MunicipalTaxResource"
                }
              }
            }
          },
          "400": {
            "description": "Algum parametro informado não é válido, verificar resposta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          }
        }
      }
    },
    "/v2/companies/{company_id}/municipaltaxes/{municipal_tax_id}": {
      "get": {
        "tags": [
          "Companies Municipal Taxes"
        ],
        "summary": "Consultar uma Inscrição Municipal pelo ID",
        "description": "### Informações adicionais\r\nUtilize esta requisição para consultar os dados de uma empresas pelo ID.\r\n**Empresa** representa uma pessoa jurídica que precisa processar Documentos Fiscais.\r\n**Inscrição Municipal**  representa os dados necessários sobre o cadastro municipal da empresa junto à prefeitura, exigidos para a emissão de notas fiscais de serviços (NFS-e) e para o cumprimento das obrigações tributárias no âmbito municipal.",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "ID da Empresa",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "municipal_tax_id",
            "in": "path",
            "description": "ID da Inscrição Mnicipal que deverá ser retornado",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso na consulta da Inscrição Municipal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.MunicipalTaxResource"
                }
              }
            }
          },
          "400": {
            "description": "Algum parametro informado não é válido, verificar resposta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          },
          "404": {
            "description": "Inscrição Municipal não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Companies Municipal Taxes"
        ],
        "summary": "Alterar uma Inscrição Municipal pelo ID",
        "description": "### Informações adicionais\r\nUtilize esta requisição para alterar os dados de uma Inscrição Municipal pelo ID.\r\n**Empresa** representa uma pessoa jurídica que precisa processar Documentos Fiscais.\r\n**Inscrição Municipal**  representa os dados necessários sobre o cadastro municipal da empresa junto à prefeitura, exigidos para a emissão de notas fiscais de serviços (NFS-e) e para o cumprimento das obrigações tributárias no âmbito municipal.",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "ID da Empresa",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "municipal_tax_id",
            "in": "path",
            "description": "ID da Inscrição Municipal que deverá ser retornado",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Dados da Inscrição Municipal a ser alterada",
          "content": {
            "application/json;odata.metadata=minimal;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=minimal": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=full": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=none": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/json;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "text/plain": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateMunicipalTaxResource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso na alteração da Inscrição Municipal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.MunicipalTaxResource"
                }
              }
            }
          },
          "400": {
            "description": "Algum parametro informado não é válido, verificar resposta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          },
          "404": {
            "description": "Inscrição Municipal não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Companies Municipal Taxes"
        ],
        "summary": "Excluir uma Inscrição Municipal pelo ID",
        "description": "### Informações adicionais\r\nUtilize esta requisição para excluir uma Inscrição Municipal pelo ID, cuidado pois esse processo é irreversível.\r\n**Empresa** representa uma pessoa jurídica que precisa processar Documentos Fiscais.\r\n**Inscrição Municipal**  representa os dados necessários sobre o cadastro municipal da empresa junto à prefeitura, exigidos para a emissão de notas fiscais de serviços (NFS-e) e para o cumprimento das obrigações tributárias no âmbito municipal.",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "ID da Empresa",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "municipal_tax_id",
            "in": "path",
            "description": "ID da Inscrição Municipal que deverá ser retornado",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Sucesso na exclusão da Inscrição Municipal"
          },
          "400": {
            "description": "Algum parametro informado não é válido, verificar resposta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          },
          "404": {
            "description": "Inscrição Municipal não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          }
        }
      }
    },
    "/v2/companies/{company_id}/municipaltaxes/{municipal_tax_id}/updateprefecture": {
      "patch": {
        "tags": [
          "Companies Municipal Taxes"
        ],
        "summary": "Atualizar status da prefeitura para uma Inscrição Municipal pelo ID",
        "description": "### Informações adicionais\r\nUtilize esta requisição para atualizar o status de uma prefeitura relacionada a uma Inscrição Municipal pelo ID.\r\n**Empresa** representa uma pessoa jurídica que precisa processar Documentos Fiscais.\r\n**Inscrição Municipal**  representa os dados necessários sobre o cadastro municipal da empresa junto à prefeitura, exigidos para a emissão de notas fiscais de serviços (NFS-e) e para o cumprimento das obrigações tributárias no âmbito municipal.",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "ID da Empresa",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "municipal_tax_id",
            "in": "path",
            "description": "ID da Inscrição Municipal que deverá ser retornado",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Sucesso na atualização do status da prefeitura da Inscrição Municipal"
          },
          "400": {
            "description": "Algum parametro informado não é válido, verificar resposta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          },
          "404": {
            "description": "Inscrição Municipal não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          }
        }
      }
    },
    "/v2/companies/{company_id}/municipaltaxes/{municipal_tax_id}/series/{serie}": {
      "get": {
        "tags": [
          "Companies Municipal Taxes"
        ],
        "summary": "Consultar uma Serie pelo ID",
        "description": "### Informações adicionais\r\nUtilize esta requisição para consultar os dados de uma Serie de RPS.\r\n**Empresa** representa uma pessoa jurídica que precisa processar Documentos Fiscais.\r\n**Inscrição Municipal**  representa os dados necessários sobre o cadastro municipal da empresa junto à prefeitura, exigidos para a emissão de notas fiscais de serviços (NFS-e) e para o cumprimento das obrigações tributárias no âmbito municipal.\r\n**Serie** representa a série do RPS (Recibo Provisório de Serviços) utilizada para a emissão de notas fiscais de serviços eletrônicas (NFS-e).",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "ID da Empresa",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "municipal_tax_id",
            "in": "path",
            "description": "ID da Inscrição Mnicipal que deverá ser retornado",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serie",
            "in": "path",
            "description": "Série do RPS que deverá ser retornado",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso na consulta da Série",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.SerieResource"
                }
              }
            }
          },
          "400": {
            "description": "Algum parametro informado não é válido, verificar resposta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          },
          "404": {
            "description": "Inscrição Municipal não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          }
        }
      }
    },
    "/v2/companies/{company_id}/statetaxes": {
      "get": {
        "tags": [
          "Companies State Taxes"
        ],
        "summary": "Listar as Inscrições Estaduais",
        "description": "### Informações adicionais\r\nUtilize esta requisição para listar as inscrições estaduais na empresa para processar __Documentos Fiscais__.\r\n**Empresa** representa uma pessoa jurídica que precisa processar Documentos Fiscais.\r\n**Inscrição Estadual** representa os dados necessários sobre o cadastro Estadual (ICMS) que é preciso para processar Documentos Fiscais na SEFAZ.",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "ID da Empresa",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startingAfter",
            "in": "query",
            "description": "Id de início do contador (Default: Empty)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endingBefore",
            "in": "query",
            "description": "Id final do contador (Default: Empty)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limite de resultados na página (Default: 10)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso na criação da Inscrição Estadual",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.StateTaxesResource"
                }
              }
            }
          },
          "400": {
            "description": "Algum parametro informado não é válido, verificar resposta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Companies State Taxes"
        ],
        "summary": "Criar uma Inscrição Estadual",
        "description": "### Informações adicionais\r\nUtilize esta requisição para criar novas inscrição estadual na empresa para processar __Documentos Fiscais__.\r\n**Empresa** representa uma pessoa jurídica que precisa processar Documentos Fiscais.\r\n**Inscrição Estadual** representa os dados necessários sobre o cadastro Estadual (ICMS) que é preciso para processar Documentos Fiscais na SEFAZ.",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "ID da Empresa",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Dados da Inscrição Estadual a ser criada",
          "content": {
            "application/json;odata.metadata=minimal;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.metadata=minimal": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.metadata=full": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.metadata=none": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.metadata=minimal;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.metadata=full;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.metadata=none;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.streaming=true;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;odata.streaming=false;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/json;IEEE754Compatible=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "text/plain": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.CreateStateTaxResource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso na criação da Inscrição Estadual",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.StateTaxResource"
                }
              }
            }
          },
          "400": {
            "description": "Algum parametro informado não é válido, verificar resposta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          }
        }
      }
    },
    "/v2/companies/{company_id}/statetaxes/{state_tax_id}": {
      "get": {
        "tags": [
          "Companies State Taxes"
        ],
        "summary": "Consultar uma Inscrição Estadual pelo ID",
        "description": "### Informações adicionais\r\nUtilize esta requisição para consultar os dados de uma empresas pelo ID.\r\n**Empresa** representa uma pessoa jurídica que precisa processar Documentos Fiscais.\r\n**Inscrição Estadual** representa os dados necessários sobre o cadastro Estadual (ICMS) que é preciso para processar Documentos Fiscais na SEFAZ.",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "ID da Empresa",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state_tax_id",
            "in": "path",
            "description": "ID da Inscrição Estadual que deverá ser retornado",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso na consulta da Inscrição Estadual",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.StateTaxResource"
                }
              }
            }
          },
          "400": {
            "description": "Algum parametro informado não é válido, verificar resposta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          },
          "404": {
            "description": "Inscrição Estadual não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.ErrorsResource"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Companies State Taxes"
        ],
        "summary": "Alterar uma Inscrição Estadual pelo ID",
        "description": "### Informações adicionais\r\nUtilize esta requisição para alterar os dados de uma Inscrição Estadual pelo ID.\r\n**Empresa** representa uma pessoa jurídica que precisa processar Documentos Fiscais.\r\n**Inscrição Estadual** representa os dados necessários sobre o cadastro Estadual (ICMS) que é preciso para processar Documentos Fiscais na SEFAZ.",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "ID da Empresa",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state_tax_id",
            "in": "path",
            "description": "ID da Inscrição Estadual que deverá ser retornado",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Dados da Inscrição Estadual a ser alterada",
          "content": {
            "application/json;odata.metadata=minimal;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateStateTaxResource"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateStateTaxResource"
              }
            },
            "application/json;odata.metadata=minimal": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateStateTaxResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateStateTaxResource"
              }
            },
            "application/json;odata.metadata=full;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateStateTaxResource"
              }
            },
            "application/json;odata.metadata=full": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateStateTaxResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateStateTaxResource"
              }
            },
            "application/json;odata.metadata=none;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateStateTaxResource"
              }
            },
            "application/json;odata.metadata=none": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateStateTaxResource"
              }
            },
            "application/json;odata.streaming=true": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateStateTaxResource"
              }
            },
            "application/json;odata.streaming=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateStateTaxResource"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateStateTaxResource"
              }
            },
            "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false": {
              "schema": {
                "$ref": "#/components/schemas/DFeTech.TaxPayers.Resources.UpdateStateTaxResource"
              }
            },
[...]
