openapi: 3.0.0
servers:
  - url: https://api.nfe.io
    description: Nota Fiscal de Serviço
  - url: https://api.nfse.io
    description: Webhooks
info:
  title: Nota Fiscal de Serviço
  version: v1
  description: "# Introdução\nSeja bem-vindo a documentação da API de Nota Fiscal de Serviço!\nNossa API foi criada utilizando o padrão REST que possibilita a integração de seu sistema ao nosso, sendo assim você também pode extender ou recriar as funcionalidades existentes na nossa plataforma, tudo isso consumindo a API que está documentada abaixo.\n# Como usar a API?\nLogo a seguir você encontrará todos os recursos e métodos suportados pela API, sendo que essa página possibilita que você teste os recursos e métodos diretamente através dela.\n# Autenticação\nVocê precisa de uma chave de API (API Key) para identificar a conta que está realizando solicitações para a API. \nPara isso você deve colocar sua chave de API no campo que se encontra topo desta página para que os métodos funcionem corretamente.\nNo seu código e integração temos suporte para autenticação de diversas formas sendo eles: \nHTTP Header (Authorization ou X-NFEIO-APIKEY) ou HTTP Query String (api_key) nos dois modos passando o valor da sua chave de api (API Key).\n<!-- ReDoc-Inject: <security-definitions> -->\n"
paths:
  /v1/companies:
    get:
      tags:
        - Companies
      summary: Listar as empresas ativas de uma conta
      operationId: Companies_Get
      parameters:
        - name: pageCount
          in: query
          description: Items por página
          required: false
          schema:
            type: integer
            format: int32
        - name: pageIndex
          in: query
          description: Número da página
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Consulta realizada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  companies:
                    type: array
                    items:
                      required:
                        - name
                        - federalTaxNumber
                        - email
                        - address
                        - openningDate
                        - taxRegime
                        - legalNature
                        - municipalTaxNumber
                      type: object
                      properties:
                        id:
                          description: Identificação
                          type: string
                        name:
                          description: Nome ou Razão Social
                          type: string
                        tradeName:
                          description: Nome fantasia
                          type: string
                        federalTaxNumber:
                          format: int64
                          description: CNPJ ou CPF
                          type: integer
                        email:
                          description: Email
                          type: string
                        address:
                          description: Endereço
                          required:
                            - country
                            - street
                            - number
                          type: object
                          properties:
                            country:
                              description: "Sigla do País (padrão ISO 3166-1 mais em http://bit.ly/1OgCkxd)\r\nExemplo: BRA, USD, ARG"
                              type: string
                            postalCode:
                              description: 'CEP (Exemplo: 99999-999)'
                              type: string
                            street:
                              description: Logradouro
                              type: string
                            number:
                              description: 'Número (Exemplo: 185 ou S/N)'
                              type: string
                            additionalInformation:
                              description: 'Complemento (Exemplo: BLC A; APT 10'
                              type: string
                            district:
                              description: Bairro
                              type: string
                            city:
                              description: Cidade
                              type: object
                              properties:
                                code:
                                  description: Código do IBGE
                                  type: string
                                name:
                                  description: Nome
                                  type: string
                            state:
                              description: Estado
                              type: string
                        openningDate:
                          format: date-time
                          description: Data abertura da empresa
                          type: string
                        taxRegime:
                          description: Tipo do Regime Tributário
                          enum:
                            - Isento
                            - MicroempreendedorIndividual
                            - SimplesNacional
                            - LucroPresumido
                            - LucroReal
                          type: string
                        specialTaxRegime:
                          description: Tipo do regime especial de tributação
                          enum:
                            - Automatico
                            - Nenhum
                            - MicroempresaMunicipal
                            - Estimativa
                            - SociedadeDeProfissionais
                            - Cooperativa
                            - MicroempreendedorIndividual
                            - MicroempresarioEmpresaPequenoPorte
                          type: string
                        legalNature:
                          description: Código da Natureza Jurídica
                          enum:
                            - EmpresaPublica
                            - SociedadeEconomiaMista
                            - SociedadeAnonimaAberta
                            - SociedadeAnonimaFechada
                            - SociedadeEmpresariaLimitada
                            - SociedadeEmpresariaEmNomeColetivo
                            - SociedadeEmpresariaEmComanditaSimples
                            - SociedadeEmpresariaEmComanditaporAcoes
                            - SociedadeemContaParticipacao
                            - Empresario
                            - Cooperativa
                            - ConsorcioSociedades
                            - GrupoSociedades
                            - EmpresaDomiciliadaExterior
                            - ClubeFundoInvestimento
                            - SociedadeSimplesPura
                            - SociedadeSimplesLimitada
                            - SociedadeSimplesEmNomeColetivo
                            - SociedadeSimplesEmComanditaSimples
                            - EmpresaBinacional
                            - ConsorcioEmpregadores
                            - ConsorcioSimples
                            - EireliNaturezaEmpresaria
                            - EireliNaturezaSimples
                            - ServicoNotarial
                            - FundacaoPrivada
                            - ServicoSocialAutonomo
                            - CondominioEdilicio
                            - ComissaoConciliacaoPrevia
                            - EntidadeMediacaoArbitragem
                            - PartidoPolitico
                            - EntidadeSindical
                            - EstabelecimentoBrasilFundacaoAssociacaoEstrangeiras
                            - FundacaoAssociacaoDomiciliadaExterior
                            - OrganizacaoReligiosa
                            - ComunidadeIndigena
                            - FundoPrivado
                            - AssociacaoPrivada
                          type: string
                        economicActivities:
                          description: Atividades da Empresa
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                enum:
                                  - Main
                                  - Secondary
                                type: string
                              code:
                                format: int32
                                type: integer
                        companyRegistryNumber:
                          format: int64
                          description: Número de Inscrição na Junta Comercial
                          type: integer
                        regionalTaxNumber:
                          format: int64
                          description: Número de Inscrição na SEFAZ (IE)
                          type: integer
                        municipalTaxNumber:
                          description: Número de Inscrição na Prefeitura (CCM)
                          type: string
                        rpsSerialNumber:
                          description: RPS número serie
                          type: string
                        rpsNumber:
                          format: int64
                          description: RPS número
                          type: integer
                        issRate:
                          format: double
                          description: Alíquota do ISS para Simples Nacional
                          type: number
                        environment:
                          description: Ambiente de processamento
                          enum:
                            - Development
                            - Production
                            - Staging
                          type: string
                        fiscalStatus:
                          description: Status no sistema
                          enum:
                            - CityNotSupported
                            - Pending
                            - Inactive
                            - None
                            - Active
                          type: string
                        federalTaxDetermination:
                          description: Determinação de imposto federal
                          enum:
                            - NotInformed
                            - Default
                            - SimplesNacional
                          type: string
                        municipalTaxDetermination:
                          description: Determinação de imposto municipal
                          enum:
                            - NotInformed
                            - Default
                            - SimplesNacional
                          type: string
                        loginName:
                          description: Nome de login
                          type: string
                        loginPassword:
                          description: Senha de login
                          type: string
                        authIssueValue:
                          description: Valor de emissão de autorização
                          type: string
                        certificate:
                          description: Certificado
                          type: object
                          properties:
                            thumbprint:
                              description: Thumbprint certificado
                              type: string
                            modifiedOn:
                              format: date-time
                              description: Certificado alterado em
                              type: string
                            expiresOn:
                              format: date-time
                              description: Certificado expira em
                              type: string
                            status:
                              description: Status do certificado
                              enum:
                                - Overdue
                                - Pending
                                - None
                                - Active
                              type: string
                        createdOn:
                          format: date-time
                          description: Data de criação
                          type: string
                        modifiedOn:
                          format: date-time
                          description: Data da última modificação
                          type: string
                  totalResults:
                    format: int64
                    type: integer
                  totalPages:
                    format: int32
                    type: integer
                  page:
                    format: int32
                    type: integer
        "400":
          description: Algum parametro informado não é válido, verificar resposta
        "401":
          description: API Key da conta não é valida
        "500":
          description: Erro no processamento
      security:
        - Authorization_Header: []
          Authorization_QueryParam: []
    post:
      tags:
        - Companies
      summary: Criar uma empresa
      operationId: Companies_Post
      requestBody:
        description: Dados da empresa
        required: true
        content:
          application/json:
            schema:
              required:
                - name
                - federalTaxNumber
                - email
                - address
                - openningDate
                - taxRegime
                - legalNature
                - municipalTaxNumber
              type: object
              properties:
                id:
                  description: Identificação
                  type: string
                name:
                  description: Nome ou Razão Social
                  type: string
                tradeName:
                  description: Nome fantasia
                  type: string
                federalTaxNumber:
                  format: int64
                  description: CNPJ ou CPF
                  type: integer
                email:
                  description: Email
                  type: string
                address:
                  description: Endereço
                  required:
                    - country
                    - street
                    - number
                  type: object
                  properties:
                    country:
                      description: "Sigla do País (padrão ISO 3166-1 mais em http://bit.ly/1OgCkxd)\r\nExemplo: BRA, USD, ARG"
                      type: string
                    postalCode:
                      description: 'CEP (Exemplo: 99999-999)'
                      type: string
                    street:
                      description: Logradouro
                      type: string
                    number:
                      description: 'Número (Exemplo: 185 ou S/N)'
                      type: string
                    additionalInformation:
                      description: 'Complemento (Exemplo: BLC A; APT 10'
                      type: string
                    district:
                      description: Bairro
                      type: string
                    city:
                      description: Cidade
                      type: object
                      properties:
                        code:
                          description: Código do IBGE
                          type: string
                        name:
                          description: Nome
                          type: string
                    state:
                      description: Estado
                      type: string
                openningDate:
                  format: date-time
                  description: Data abertura da empresa
                  type: string
                taxRegime:
                  description: Tipo do Regime Tributário
                  enum:
                    - Isento
                    - MicroempreendedorIndividual
                    - SimplesNacional
                    - LucroPresumido
                    - LucroReal
                  type: string
                specialTaxRegime:
                  description: Tipo do regime especial de tributação
                  enum:
                    - Automatico
                    - Nenhum
                    - MicroempresaMunicipal
                    - Estimativa
                    - SociedadeDeProfissionais
                    - Cooperativa
                    - MicroempreendedorIndividual
                    - MicroempresarioEmpresaPequenoPorte
                  type: string
                legalNature:
                  description: Código da Natureza Jurídica
                  enum:
                    - EmpresaPublica
                    - SociedadeEconomiaMista
                    - SociedadeAnonimaAberta
                    - SociedadeAnonimaFechada
                    - SociedadeEmpresariaLimitada
                    - SociedadeEmpresariaEmNomeColetivo
                    - SociedadeEmpresariaEmComanditaSimples
                    - SociedadeEmpresariaEmComanditaporAcoes
                    - SociedadeemContaParticipacao
                    - Empresario
                    - Cooperativa
                    - ConsorcioSociedades
                    - GrupoSociedades
                    - EmpresaDomiciliadaExterior
                    - ClubeFundoInvestimento
                    - SociedadeSimplesPura
                    - SociedadeSimplesLimitada
                    - SociedadeSimplesEmNomeColetivo
                    - SociedadeSimplesEmComanditaSimples
                    - EmpresaBinacional
                    - ConsorcioEmpregadores
                    - ConsorcioSimples
                    - EireliNaturezaEmpresaria
                    - EireliNaturezaSimples
                    - ServicoNotarial
                    - FundacaoPrivada
                    - ServicoSocialAutonomo
                    - CondominioEdilicio
                    - ComissaoConciliacaoPrevia
                    - EntidadeMediacaoArbitragem
                    - PartidoPolitico
                    - EntidadeSindical
                    - EstabelecimentoBrasilFundacaoAssociacaoEstrangeiras
                    - FundacaoAssociacaoDomiciliadaExterior
                    - OrganizacaoReligiosa
                    - ComunidadeIndigena
                    - FundoPrivado
                    - AssociacaoPrivada
                  type: string
                economicActivities:
                  description: Atividades da Empresa
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        enum:
                          - Main
                          - Secondary
                        type: string
                      code:
                        format: int32
                        type: integer
                companyRegistryNumber:
                  format: int64
                  description: Número de Inscrição na Junta Comercial
                  type: integer
                regionalTaxNumber:
                  format: int64
                  description: Número de Inscrição na SEFAZ (IE)
                  type: integer
                municipalTaxNumber:
                  description: Número de Inscrição na Prefeitura (CCM)
                  type: string
                rpsSerialNumber:
                  description: RPS número serie
                  type: string
                rpsNumber:
                  format: int64
                  description: RPS número
                  type: integer
                issRate:
                  format: double
                  description: Alíquota do ISS para Simples Nacional
                  type: number
                environment:
                  description: Ambiente de processamento
                  enum:
                    - Development
                    - Production
                    - Staging
                  type: string
                fiscalStatus:
                  description: Status no sistema
                  enum:
                    - CityNotSupported
                    - Pending
                    - Inactive
                    - None
                    - Active
                  type: string
                federalTaxDetermination:
                  description: Determinação de imposto federal
                  enum:
                    - NotInformed
                    - Default
                    - SimplesNacional
                  type: string
                municipalTaxDetermination:
                  description: Determinação de imposto municipal
                  enum:
                    - NotInformed
                    - Default
                    - SimplesNacional
                  type: string
                loginName:
                  description: Nome de login
                  type: string
                loginPassword:
                  description: Senha de login
                  type: string
                authIssueValue:
                  description: Valor de emissão de autorização
                  type: string
                certificate:
                  description: Certificado
                  type: object
                  properties:
                    thumbprint:
                      description: Thumbprint certificado
                      type: string
                    modifiedOn:
                      format: date-time
                      description: Certificado alterado em
                      type: string
                    expiresOn:
                      format: date-time
                      description: Certificado expira em
                      type: string
                    status:
                      description: Status do certificado
                      enum:
                        - Overdue
                        - Pending
                        - None
                        - Active
                      type: string
                createdOn:
                  format: date-time
                  description: Data de criação
                  type: string
                modifiedOn:
                  format: date-time
                  description: Data da última modificação
                  type: string
      responses:
        "201":
          description: Sucesso na criação da empresa
          content:
            application/json:
              schema:
                type: object
                properties:
                  companies:
                    required:
                      - name
                      - federalTaxNumber
                      - email
                      - address
                      - openningDate
                      - taxRegime
                      - legalNature
                      - municipalTaxNumber
                    type: object
                    properties:
                      id:
                        description: Identificação
                        type: string
                      name:
                        description: Nome ou Razão Social
                        type: string
                      tradeName:
                        description: Nome fantasia
                        type: string
                      federalTaxNumber:
                        format: int64
                        description: CNPJ ou CPF
                        type: integer
                      email:
                        description: Email
                        type: string
                      address:
                        description: Endereço
                        required:
                          - country
                          - street
                          - number
                        type: object
                        properties:
                          country:
                            description: "Sigla do País (padrão ISO 3166-1 mais em http://bit.ly/1OgCkxd)\r\nExemplo: BRA, USD, ARG"
                            type: string
                          postalCode:
                            description: 'CEP (Exemplo: 99999-999)'
                            type: string
                          street:
                            description: Logradouro
                            type: string
                          number:
                            description: 'Número (Exemplo: 185 ou S/N)'
                            type: string
                          additionalInformation:
                            description: 'Complemento (Exemplo: BLC A; APT 10'
                            type: string
                          district:
                            description: Bairro
                            type: string
                          city:
                            description: Cidade
                            type: object
                            properties:
                              code:
                                description: Código do IBGE
                                type: string
                              name:
                                description: Nome
                                type: string
                          state:
                            description: Estado
                            type: string
                      openningDate:
                        format: date-time
                        description: Data abertura da empresa
                        type: string
                      taxRegime:
                        description: Tipo do Regime Tributário
                        enum:
                          - Isento
                          - MicroempreendedorIndividual
                          - SimplesNacional
                          - LucroPresumido
                          - LucroReal
                        type: string
                      specialTaxRegime:
                        description: Tipo do regime especial de tributação
                        enum:
                          - Automatico
                          - Nenhum
                          - MicroempresaMunicipal
                          - Estimativa
                          - SociedadeDeProfissionais
                          - Cooperativa
                          - MicroempreendedorIndividual
                          - MicroempresarioEmpresaPequenoPorte
                        type: string
                      legalNature:
                        description: Código da Natureza Jurídica
                        enum:
                          - EmpresaPublica
                          - SociedadeEconomiaMista
                          - SociedadeAnonimaAberta
                          - SociedadeAnonimaFechada
                          - SociedadeEmpresariaLimitada
                          - SociedadeEmpresariaEmNomeColetivo
                          - SociedadeEmpresariaEmComanditaSimples
                          - SociedadeEmpresariaEmComanditaporAcoes
                          - SociedadeemContaParticipacao
                          - Empresario
                          - Cooperativa
                          - ConsorcioSociedades
                          - GrupoSociedades
                          - EmpresaDomiciliadaExterior
                          - ClubeFundoInvestimento
                          - SociedadeSimplesPura
                          - SociedadeSimplesLimitada
                          - SociedadeSimplesEmNomeColetivo
                          - SociedadeSimplesEmComanditaSimples
                          - EmpresaBinacional
                          - ConsorcioEmpregadores
                          - ConsorcioSimples
                          - EireliNaturezaEmpresaria
                          - EireliNaturezaSimples
                          - ServicoNotarial
                          - FundacaoPrivada
                          - ServicoSocialAutonomo
                          - CondominioEdilicio
                          - ComissaoConciliacaoPrevia
                          - EntidadeMediacaoArbitragem
                          - PartidoPolitico
                          - EntidadeSindical
                          - EstabelecimentoBrasilFundacaoAssociacaoEstrangeiras
                          - FundacaoAssociacaoDomiciliadaExterior
                          - OrganizacaoReligiosa
                          - ComunidadeIndigena
                          - FundoPrivado
                          - AssociacaoPrivada
                        type: string
                      economicActivities:
                        description: Atividades da Empresa
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              enum:
                                - Main
                                - Secondary
                              type: string
                            code:
                              format: int32
                              type: integer
                      companyRegistryNumber:
                        format: int64
                        description: Número de Inscrição na Junta Comercial
                        type: integer
                      regionalTaxNumber:
                        format: int64
                        description: Número de Inscrição na SEFAZ (IE)
                        type: integer
                      municipalTaxNumber:
                        description: Número de Inscrição na Prefeitura (CCM)
                        type: string
                      rpsSerialNumber:
                        description: RPS número serie
                        type: string
                      rpsNumber:
                        format: int64
                        description: RPS número
                        type: integer
                      issRate:
                        format: double
                        description: Alíquota do ISS para Simples Nacional
                        type: number
                      environment:
                        description: Ambiente de processamento
                        enum:
                          - Development
                          - Production
                          - Staging
                        type: string
                      fiscalStatus:
                        description: Status no sistema
                        enum:
                          - CityNotSupported
                          - Pending
                          - Inactive
                          - None
                          - Active
                        type: string
                      federalTaxDetermination:
                        description: Determinação de imposto federal
                        enum:
                          - NotInformed
                          - Default
                          - SimplesNacional
                        type: string
                      municipalTaxDetermination:
                        description: Determinação de imposto municipal
                        enum:
                          - NotInformed
                          - Default
                          - SimplesNacional
                        type: string
                      loginName:
                        description: Nome de login
                        type: string
                      loginPassword:
                        description: Senha de login
                        type: string
                      authIssueValue:
                        description: Valor de emissão de autorização
                        type: string
                      certificate:
                        description: Certificado
                        type: object
                        properties:
                          thumbprint:
                            description: Thumbprint certificado
                            type: string
                          modifiedOn:
                            format: date-time
                            description: Certificado alterado em
                            type: string
                          expiresOn:
                            format: date-time
                            description: Certificado expira em
                            type: string
                          status:
                            description: Status do certificado
                            enum:
                              - Overdue
                              - Pending
                              - None
                              - Active
                            type: string
                      createdOn:
                        format: date-time
                        description: Data de criação
                        type: string
                      modifiedOn:
                        format: date-time
                        description: Data da última modificação
                        type: string
        "400":
          description: Algum parametro informado não é válido
        "401":
          description: API Key da conta não é valida
        "409":
          description: Já existe uma empresa com o CNPJ informado
        "500":
          description: Erro no processamento
      security:
        - Authorization_Header: []
          Authorization_QueryParam: []
  /v1/companies/{company_id_or_tax_number}:
    get:
      tags:
        - Companies
      summary: Obter os detalhes de uma empresa
      operationId: Companies_idGet
      parameters:
        - name: company_id_or_tax_number
          in: path
          description: ID da empresa ou Inscrição Federal (CNPJ)
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Sucesso na requisição
          content:
            application/json:
              schema:
                type: object
                properties:
                  companies:
                    required:
                      - name
                      - federalTaxNumber
                      - email
                      - address
                      - openningDate
                      - taxRegime
                      - legalNature
                      - municipalTaxNumber
                    type: object
                    properties:
                      id:
                        description: Identificação
                        type: string
                      name:
                        description: Nome ou Razão Social
                        type: string
                      tradeName:
                        description: Nome fantasia
                        type: string
                      federalTaxNumber:
                        format: int64
                        description: CNPJ ou CPF
                        type: integer
                      email:
                        description: Email
                        type: string
                      address:
                        description: Endereço
                        required:
                          - country
                          - street
                          - number
                        type: object
                        properties:
                          country:
                            description: "Sigla do País (padrão ISO 3166-1 mais em http://bit.ly/1OgCkxd)\r\nExemplo: BRA, USD, ARG"
                            type: string
                          postalCode:
                            description: 'CEP (Exemplo: 99999-999)'
                            type: string
                          street:
                            description: Logradouro
                            type: string
                          number:
                            description: 'Número (Exemplo: 185 ou S/N)'
                            type: string
                          additionalInformation:
                            description: 'Complemento (Exemplo: BLC A; APT 10'
                            type: string
                          district:
                            description: Bairro
                            type: string
                          city:
                            description: Cidade
                            type: object
                            properties:
                              code:
                                description: Código do IBGE
                                type: string
                              name:
                                description: Nome
                                type: string
                          state:
                            description: Estado
                            type: string
                      openningDate:
                        format: date-time
                        description: Data abertura da empresa
                        type: string
                      taxRegime:
                        description: Tipo do Regime Tributário
                        enum:
                          - Isento
                          - MicroempreendedorIndividual
                          - SimplesNacional
                          - LucroPresumido
                          - LucroReal
                        type: string
                      specialTaxRegime:
                        description: Tipo do regime especial de tributação
                        enum:
                          - Automatico
                          - Nenhum
                          - MicroempresaMunicipal
                          - Estimativa
                          - SociedadeDeProfissionais
                          - Cooperativa
                          - MicroempreendedorIndividual
                          - MicroempresarioEmpresaPequenoPorte
                        type: string
                      legalNature:
                        description: Código da Natureza Jurídica
                        enum:
                          - EmpresaPublica
                          - SociedadeEconomiaMista
                          - SociedadeAnonimaAberta
                          - SociedadeAnonimaFechada
                          - SociedadeEmpresariaLimitada
                          - SociedadeEmpresariaEmNomeColetivo
                          - SociedadeEmpresariaEmComanditaSimples
                          - SociedadeEmpresariaEmComanditaporAcoes
                          - SociedadeemContaParticipacao
                          - Empresario
                          - Cooperativa
                          - ConsorcioSociedades
                          - GrupoSociedades
                          - EmpresaDomiciliadaExterior
                          - ClubeFundoInvestimento
                          - SociedadeSimplesPura
                          - SociedadeSimplesLimitada
                          - SociedadeSimplesEmNomeColetivo
                          - SociedadeSimplesEmComanditaSimples
                          - EmpresaBinacional
                          - ConsorcioEmpregadores
                          - ConsorcioSimples
                          - EireliNaturezaEmpresaria
                          - EireliNaturezaSimples
                          - ServicoNotarial
                          - FundacaoPrivada
                          - ServicoSocialAutonomo
                          - CondominioEdilicio
                          - ComissaoConciliacaoPrevia
                          - EntidadeMediacaoArbitragem
                          - PartidoPolitico
                          - EntidadeSindical
                          - EstabelecimentoBrasilFundacaoAssociacaoEstrangeiras
                          - FundacaoAssociacaoDomiciliadaExterior
                          - OrganizacaoReligiosa
                          - ComunidadeIndigena
                          - FundoPrivado
                          - AssociacaoPrivada
                        type: string
                      economicActivities:
                        description: Atividades da Empresa
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              enum:
                                - Main
                                - Secondary
                              type: string
                            code:
                              format: int32
                              type: integer
                      companyRegistryNumber:
                        format: int64
                        description: Número de Inscrição na Junta Comercial
                        type: integer
                      regionalTaxNumber:
                        format: int64
                        description: Número de Inscrição na SEFAZ (IE)
                        type: integer
                      municipalTaxNumber:
                        description: Número de Inscrição na Prefeitura (CCM)
                        type: string
                      rpsSerialNumber:
                        description: RPS número serie
                        type: string
                      rpsNumber:
                        format: int64
                        description: RPS número
                        type: integer
                      issRate:
                        format: double
                        description: Alíquota do ISS para Simples Nacional
                        type: number
                      environment:
                        description: Ambiente de processamento
                        enum:
                          - Development
                          - Production
                          - Staging
                        type: string
                      fiscalStatus:
                        description: Status no sistema
                        enum:
                          - CityNotSupported
                          - Pending
                          - Inactive
                          - None
                          - Active
                        type: string
                      federalTaxDetermination:
                        description: Determinação de imposto federal
                        enum:
                          - NotInformed
                          - Default
                          - SimplesNacional
                        type: string
                      municipalTaxDetermination:
                        description: Determinação de imposto municipal
                        enum:
                          - NotInformed
                          - Default
                          - SimplesNacional
                        type: string
                      loginName:
                        description: Nome de login
                        type: string
                      loginPassword:
                        description: Senha de login
                        type: string
                      authIssueValue:
                        description: Valor de emissão de autorização
                        type: string
                      certificate:
                        description: Certificado
                        type: object
                        properties:
                          thumbprint:
                            description: Thumbprint certificado
                            type: string
                          modifiedOn:
                            format: date-time
                            description: Certificado alterado em
                            type: string
                          expiresOn:
                            format: date-time
                            description: Certificado expira em
                            type: string
                          status:
                            description: Status do certificado
                            enum:
                              - Overdue
                              - Pending
                              - None
                              - Active
                            type: string
                      createdOn:
                        format: date-time
                        description: Data de criação
                        type: string
                      modifiedOn:
                        format: date-time
                        description: Data da última modificação
                        type: string
        "400":
          description: Algum parametro informado não é válido
        "401":
          description: API Key da conta não é valida
        "500":
          description: Erro no processamento
      security:
        - Authorization_Header: []
          Authorization_QueryParam: []
  /v1/companies/{company_id}:
    put:
      tags:
        - Companies
      summary: Atualizar uma empresa
      operationId: Companies_Put
      requestBody:
        description: Dados da empresa
        required: true
        content:
          application/json:
            schema:
              required:
                - name
                - federalTaxNumber
                - email
                - address
                - openningDate
                - taxRegime
                - legalNature
                - municipalTaxNumber
              type: object
              properties:
                id:
                  description: Identificação
                  type: string
                name:
                  description: Nome ou Razão Social
                  type: string
                tradeName:
                  description: Nome fantasia
                  type: string
                federalTaxNumber:
                  format: int64
                  description: CNPJ ou CPF
                  type: integer
                email:
                  description: Email
                  type: string
                address:
                  description: Endereço
                  required:
                    - country
                    - street
                    - number
                  type: object
                  properties:
                    country:
                      description: "Sigla do País (padrão ISO 3166-1 mais em http://bit.ly/1OgCkxd)\r\nExemplo: BRA, USD, ARG"
                      type: string
                    postalCode:
                      description: 'CEP (Exemplo: 99999-999)'
                      type: string
                    street:
                      description: Logradouro
                      type: string
                    number:
                      description: 'Número (Exemplo: 185 ou S/N)'
                      type: string
                    additionalInformation:
                      description: 'Complemento (Exemplo: BLC A; APT 10'
                      type: string
                    district:
                      description: Bairro
                      type: string
                    city:
                      description: Cidade
                      type: object
                      properties:
                        code:
                          description: Código do IBGE
                          type: string
                        name:
                          description: Nome
                          type: string
                    state:
                      description: Estado
                      type: string
                openningDate:
                  format: date-time
                  description: Data abertura da empresa
                  type: string
                taxRegime:
                  description: Tipo do Regime Tributário
                  enum:
                    - Isento
                    - MicroempreendedorIndividual
                    - SimplesNacional
                    - LucroPresumido
                    - LucroReal
                  type: string
                specialTaxRegime:
                  description: Tipo do regime especial de tributação
                  enum:
                    - Automatico
                    - Nenhum
                    - MicroempresaMunicipal
                    - Estimativa
                    - SociedadeDeProfissionais
                    - Cooperativa
                    - MicroempreendedorIndividual
                    - MicroempresarioEmpresaPequenoPorte
                  type: string
                legalNature:
                  description: Código da Natureza Jurídica
                  enum:
                    - EmpresaPublica
                    - SociedadeEconomiaMista
                    - SociedadeAnonimaAberta
                    - SociedadeAnonimaFechada
                    - SociedadeEmpresariaLimitada
                    - SociedadeEmpresariaEmNomeColetivo
                    - SociedadeEmpresariaEmComanditaSimples
                    - SociedadeEmpresariaEmComanditaporAcoes
                    - SociedadeemContaParticipacao
                    - Empresario
                    - Cooperativa
                    - ConsorcioSociedades
                    - GrupoSociedades
                    - EmpresaDomiciliadaExterior
                    - ClubeFundoInvestimento
                    - SociedadeSimplesPura
                    - SociedadeSimplesLimitada
                    - SociedadeSimplesEmNomeColetivo
                    - SociedadeSimplesEmComanditaSimples
                    - EmpresaBinacional
                    - ConsorcioEmpregadores
                    - ConsorcioSimples
                    - EireliNaturezaEmpresaria
                    - EireliNaturezaSimples
                    - ServicoNotarial
                    - FundacaoPrivada
                    - ServicoSocialAutonomo
                    - CondominioEdilicio
                    - ComissaoConciliacaoPrevia
                    - EntidadeMediacaoArbitragem
                    - PartidoPolitico
                    - EntidadeSindical
                    - EstabelecimentoBrasilFundacaoAssociacaoEstrangeiras
                    - FundacaoAssociacaoDomiciliadaExterior
                    - OrganizacaoReligiosa
                    - ComunidadeIndigena
                    - FundoPrivado
                    - AssociacaoPrivada
                  type: string
                economicActivities:
                  description: Atividades da Empresa
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        enum:
                          - Main
                          - Secondary
                        type: string
                      code:
                        format: int32
                        type: integer
                companyRegistryNumber:
                  format: int64
                  description: Número de Inscrição na Junta Comercial
                  type: integer
                regionalTaxNumber:
                  format: int64
                  description: Número de Inscrição na SEFAZ (IE)
                  type: integer
                municipalTaxNumber:
                  description: Número de Inscrição na Prefeitura (CCM)
                  type: string
                rpsSerialNumber:
                  description: RPS número serie
                  type: string
                rpsNumber:
                  format: int64
                  description: RPS número
                  type: integer
                issRate:
                  format: double
                  description: Alíquota do ISS para Simples Nacional
                  type: number
                environment:
                  description: Ambiente de processamento
                  enum:
                    - Development
                    - Production
                    - Staging
                  type: string
                fiscalStatus:
                  description: Status no sistema
                  enum:
                    - CityNotSupported
                    - Pending
                    - Inactive
                    - None
                    - Active
                  type: string
                federalTaxDetermination:
                  description: Determinação de imposto federal
                  enum:
                    - NotInformed
                    - Default
                    - SimplesNacional
                  type: string
                municipalTaxDetermination:
                  description: Determinação de imposto municipal
                  enum:
                    - NotInformed
                    - Default
                    - SimplesNacional
                  type: string
                loginName:
                  description: Nome de login
                  type: string
                loginPassword:
                  description: Senha de login
                  type: string
                authIssueValue:
                  description: Valor de emissão de autorização
                  type: string
                certificate:
                  description: Certificado
                  type: object
                  properties:
                    thumbprint:
                      description: Thumbprint certificado
                      type: string
                    modifiedOn:
                      format: date-time
                      description: Certificado alterado em
                      type: string
                    expiresOn:
                      format: date-time
                      description: Certificado expira em
                      type: string
                    status:
                      description: Status do certificado
                      enum:
                        - Overdue
                        - Pending
                        - None
                        - Active
                      type: string
                createdOn:
                  format: date-time
                  description: Data de criação
                  type: string
                modifiedOn:
                  format: date-time
                  description: Data da última modificação
                  type: string
      responses:
        "200":
          description: Sucesso na atualização da empresa
          content:
            application/json:
              schema:
                type: object
                properties:
                  companies:
                    required:
                      - name
                      - federalTaxNumber
                      - email
                      - address
                      - openningDate
                      - taxRegime
                      - legalNature
                      - municipalTaxNumber
                    type: object
                    properties:
                      id:
                        description: Identificação
                        type: string
                      name:
                        description: Nome ou Razão Social
                        type: string
                      tradeName:
                        description: Nome fantasia
                        type: string
                      federalTaxNumber:
                        format: int64
                        description: CNPJ ou CPF
                        type: integer
                      email:
                        description: Email
                        type: string
                      address:
                        description: Endereço
                        required:
                          - country
                          - street
                          - number
                        type: object
                        properties:
                          country:
                            description: "Sigla do País (padrão ISO 3166-1 mais em http://bit.ly/1OgCkxd)\r\nExemplo: BRA, USD, ARG"
                            type: string
                          postalCode:
                            description: 'CEP (Exemplo: 99999-999)'
                            type: string
                          street:
                            description: Logradouro
                            type: string
                          number:
                            description: 'Número (Exemplo: 185 ou S/N)'
                            type: string
                          additionalInformation:
                            description: 'Complemento (Exemplo: BLC A; APT 10'
                            type: string
                          district:
                            description: Bairro
                            type: string
                          city:
                            description: Cidade
                            type: object
                            properties:
                              code:
                                description: Código do IBGE
                                type: string
                              name:
                                description: Nome
                                type: string
                          state:
                            description: Estado
                            type: string
                      openningDate:
                        format: date-time
                        description: Data abertura da empresa
                        type: string
                      taxRegime:
                        description: Tipo do Regime Tributário
                        enum:
                          - Isento
                          - MicroempreendedorIndividual
                          - SimplesNacional
                          - LucroPresumido
                          - LucroReal
                        type: string
                      specialTaxRegime:
                        description: Tipo do regime especial de tributação
                        enum:
                          - Automatico
                          - Nenhum
                          - MicroempresaMunicipal
                          - Estimativa
                          - SociedadeDeProfissionais
                          - Cooperativa
                          - MicroempreendedorIndividual
                          - MicroempresarioEmpresaPequenoPorte
                        type: string
                      legalNature:
                        description: Código da Natureza Jurídica
                        enum:
                          - EmpresaPublica
                          - SociedadeEconomiaMista
                          - SociedadeAnonimaAberta
                          - SociedadeAnonimaFechada
                          - SociedadeEmpresariaLimitada
                          - SociedadeEmpresariaEmNomeColetivo
                          - SociedadeEmpresariaEmComanditaSimples
                          - SociedadeEmpresariaEmComanditaporAcoes
                          - SociedadeemContaParticipacao
                          - Empresario
                          - Cooperativa
                          - ConsorcioSociedades
                          - GrupoSociedades
                          - EmpresaDomiciliadaExterior
                          - ClubeFundoInvestimento
                          - SociedadeSimplesPura
                          - SociedadeSimplesLimitada
                          - SociedadeSimplesEmNomeColetivo
                          - SociedadeSimplesEmComanditaSimples
                          - EmpresaBinacional
                          - ConsorcioEmpregadores
                          - ConsorcioSimples
                          - EireliNaturezaEmpresaria
                          - EireliNaturezaSimples
                          - ServicoNotarial
                          - FundacaoPrivada
                          - ServicoSocialAutonomo
                          - CondominioEdilicio
                          - ComissaoConciliacaoPrevia
                          - EntidadeMediacaoArbitragem
                          - PartidoPolitico
                          - EntidadeSindical
                          - EstabelecimentoBrasilFundacaoAssociacaoEstrangeiras
                          - FundacaoAssociacaoDomiciliadaExterior
                          - OrganizacaoReligiosa
                          - ComunidadeIndigena
                          - FundoPrivado
                          - AssociacaoPrivada
                        type: string
                      economicActivities:
                        description: Atividades da Empresa
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              enum:
                                - Main
                                - Secondary
                              type: string
                            code:
                              format: int32
                              type: integer
                      companyRegistryNumber:
                        format: int64
                        description: Número de Inscrição na Junta Comercial
                        type: integer
                      regionalTaxNumber:
                        format: int64
                        description: Número de Inscrição na SEFAZ (IE)
                        type: integer
                      municipalTaxNumber:
                        description: Número de Inscrição na Prefeitura (CCM)
                        type: string
                      rpsSerialNumber:
                        description: RPS número serie
                        type: string
                      rpsNumber:
                        format: int64
                        description: RPS número
                        type: integer
                      issRate:
                        format: double
                        description: Alíquota do ISS para Simples Nacional
                        type: number
                      environment:
                        description: Ambiente de processamento
                        enum:
                          - Development
                          - Production
                          - Staging
                        type: string
                      fiscalStatus:
                        description: Status no sistema
                        enum:
                          - CityNotSupported
                          - Pending
                          - Inactive
                          - None
                          - Active
                        type: string
                      federalTaxDetermination:
                        description: Determinação de imposto federal
                        enum:
                          - NotInformed
                          - Default
                          - SimplesNacional
                        type: string
                      municipalTaxDetermination:
                        description: Determinação de imposto municipal
                        enum:
                          - NotInformed
                          - Default
                          - SimplesNacional
                        type: string
                      loginName:
                        description: Nome de login
                        type: string
                      loginPassword:
                        description: Senha de login
                        type: string
                      authIssueValue:
                        description: Valor de emissão de autorização
                        type: string
                      certificate:
                        description: Certificado
                        type: object
                        properties:
                          thumbprint:
                            description: Thumbprint certificado
                            type: string
                          modifiedOn:
                            format: date-time
                            description: Certificado alterado em
                            type: string
                          expiresOn:
                            format: date-time
                            description: Certificado expira em
                            type: string
                          status:
                            description: Status do certificado
                            enum:
                              - Overdue
                              - Pending
                              - None
                              - Active
                            type: string
                      createdOn:
                        format: date-time
                        description: Data de criação
                        type: string
                      modifiedOn:
                        format: date-time
                        description: Data da última modificação
                        type: string
        "400":
          description: Algum parametro informado não é válido
        "401":
          description: API Key da conta não é valida
        "500":
          description: Erro no processamento
      parameters:
        - name: company_id
          in: path
          description: ID da empresa
          required: true
          schema:
            type: string
      security:
        - Authorization_Header: []
          Authorization_QueryParam: []
    delete:
      tags:
        - Companies
      summary: Excluir uma empresa
      operationId: Companies_Delete
      parameters:
        - name: company_id
          in: path
          description: ID da empresa
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Sucesso na remoção da empresa
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Algum parametro informado não é válido
        "401":
          description: API Key da conta não é valida
        "404":
          description: empresa não foi encontrada
        "500":
          description: Erro no processamento
      security:
        - Authorization_Header: []
          Authorization_QueryParam: []
  /v1/companies/{company_id}/certificate:
    post:
      tags:
        - Companies
      summary: Upload do certificado digital da empresa usando o codificação multipart/form-data.
      operationId: Companies_CertificateUpload
      requestBody:
        description: Arquivo do certificado digital com extensao PFX ou P12
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                password:
                  type: string
      responses:
        "200":
          description: Sucesso na atualização da certificado digital
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Algum parametro informado não é válido
        "401":
          description: API Key da conta não é valida
        "404":
          description: Empresa não foi encontrada
        "415":
          description: Nenhum arquivo foi encontrado na requisição
        "500":
          description: Erro no processamento
      parameters:
        - name: company_id
          in: path
          description: ID da empresa
          required: true
          schema:
            type: string
      security:
        - Authorization_Header: []
          Authorization_QueryParam: []
  /v1/companies/{company_id}/notifications:
    get:
      tags:
        - CompaniesNotifications
      summary: Listar as notificações de uma empresa
      description: Utilize esta requisição para consultar uma lista das **Notificações** cadastradas na **Empresa**.
      operationId: CompaniesNotifications_Get
      parameters:
        - name: company_id
          in: path
          description: ID da empresa
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Consulta realizada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  notifications:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Identificação
                          type: string
                        channel:
                          description: Canal de Notificação
                          enum:
                            - None
                            - Email
                          type: string
                        filters:
                          description: Filtro de Evento
                          type: array
                          items:
                            type: string
                        status:
                          description: Status no sistema
                          enum:
                            - Active
                            - Inactive
                          type: string
                        createdOn:
                          format: date-time
                          description: Data de criação
                          type: string
                        modifiedOn:
                          format: date-time
                          description: Data da última modificação
                          type: string
        "400":
          description: Algum parametro informado não é válido, verificar resposta
        "401":
          description: API Key da conta não é valida
        "500":
          description: Erro no processamento
      security:
        - Authorization_Header: []
          Authorization_QueryParam: []
  /v1/companies/{company_id}/notifications/{notification_id}:
    get:
      tags:
        - CompaniesNotifications
      summary: Consultar uma notificação existente
      description: Utilize esta requisição para consultar uma **Notificação** que esteja cadastrada e tenha o ID igual ao parametro **{notification_id}**.
      operationId: CompaniesNotifications_idGet
      parameters:
        - name: company_id
          in: path
          description: ID da empresa
          required: true
          schema:
            type: string
        - name: notification_id
          in: path
          description: ID da notificação a ser consultado
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Sucesso na requisição
          content:
            application/json:
              schema:
                type: object
                properties:
                  notification:
                    type: object
                    properties:
                      id:
                        description: Identificação
                        type: string
                      channel:
                        description: Canal de Notificação
                        enum:
                          - None
                          - Email
                        type: string
                      filters:
                        description: Filtro de Evento
                        type: array
                        items:
                          type: string
                      status:
                        description: Status no sistema
                        enum:
                          - Active
                          - Inactive
                        type: string
                      createdOn:
                        format: date-time
                        description: Data de criação
                        type: string
                      modifiedOn:
                        format: date-time
                        description: Data da última modificação
                        type: string
        "400":
          description: Algum parametro informado não é válido
        "401":
          description: API Key da conta não é valida
        "500":
          description: Erro no processamento
      security:
        - Authorization_Header: []
          Authorization_QueryParam: []
    delete:
      tags:
        - CompaniesNotifications
      summary: Excluir uma notificação
      operationId: CompaniesNotifications_Delete
      parameters:
        - name: company_id
          in: path
          description: ID da empresa
          required: true
          schema:
            type: string
        - name: notification_id
          in: path
          description: ID da notificação
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Sucesso na remoção da empresa
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Algum parametro informado não é válido
        "401":
          description: API Key da conta não é valida
        "404":
          description: empresa não foi encontrada
        "500":
          description: Erro no processamento
      security:
        - Authorization_Header: []
          Authorization_QueryParam: []
  /v1/companies/{company_id}/notifications/email:
    post:
      tags:
        - CompaniesNotifications
      summary: Criar notificação via Email da Nota Fiscal de Serviço (NFSE)
      description: "Utilize esta requisição para definir se os Tomadores (Clientes) das Notas Fiscais de Serviço (NFSE)\r\ndevem ser notificados via email que a NFSE foi **emitida** ou **cancelada** com sucesso."
      operationId: CompaniesNotifications_Post
      parameters:
        - name: company_id
          in: path
          description: ID da empresa
          required: true
          schema:
            type: string
      requestBody:
        description: Dados da notificação
        required: true
        content:
          application/json:
            schema:
              description: Cria Notificação para Email
              type: object
              properties:
                filters:
                  description: "Lista de filtros de evento sem distinção entre maiúsculas e minúsculas associado a esta notificação.\r\nOs filtros de evento são usados para determinar em quais eventos essa notificação será acionada.\r\nOs valores de filtros suportados pode ser consultados através do requisição na API de **Tipos de Eventos**."
                  type: array
                  items:
                    type: string
                status:
                  description: "Determina se as notificações são enviadas quando o evento é gerado.\r\nDefinir como **Inactive** para não receber nenhuma nova notificação, sendo o padrão: **Active**\r\npara receber todas as notificações."
                  enum:
                    - Active
                    - Inactive
                  type: string
      responses:
        "201":
          description: Sucesso na criação da empresa
          content:
            application/json:
              schema:
                type: object
                properties:
                  notification:
                    type: object
                    properties:
                      id:
                        description: Identificação
                        type: string
                      channel:
                        description: Canal de Notificação
                        enum:
                          - None
                          - Email
                        type: string
                      filters:
                        description: Filtro de Evento
                        type: array
                        items:
                          type: string
                      status:
                        description: Status no sistema
                        enum:
                          - Active
                          - Inactive
                        type: string
                      createdOn:
                        format: date-time
                        description: Data de criação
                        type: string
                      modifiedOn:
                        format: date-time
                        description: Data da última modificação
                        type: string
        "400":
          description: Algum parametro informado não é válido
        "401":
          description: API Key da conta não é valida
        "409":
          description: Já existe uma empresa com o CNPJ informado
        "500":
          description: Erro no processamento
      security:
        - Authorization_Header: []
          Authorization_QueryParam: []
  /v1/eventTypes:
    get:
      tags:
        - EventTypes
      summary: Listar os Tipos de Eventos gerados pela plataforma
      description: "Eventos ocorrem a todo instante na plataforma durante os processamentos e são registrados\r\ncriando notificações para os webhooks ativos e configurados para receber os eventos.\r\n            \r\nSão identificados seguindo o padrão do nome do evento.\r\n\r\nEsse tipos podem ser utilizados como filtro ao criar ou alterar um webhook,\r\nsendo que o filtro determina quais notificações de eventos e ação serão enviadas\r\npara um determinado webhook, ou seja, dependendo de quais filtros são vinculados ao webhook\r\nele só receberá as notificações de evento e ação que correspondem a um ou mais desses filtros."
      operationId: EventTypes_GetAll
      responses:
        "200":
          description: Sucesso na consulta do tipos de eventos
          content:
            application/json:
              schema:
                description: Tipos de Eventos
                type: object
                properties:
                  eventTypes:
                    description: Lista de Evento
                    type: array
                    items:
                      description: "Eventos ocorrem a todo instante na plataforma durante os processamentos e são registrados\r\ncriando notificações para os webhooks ativos e configurados para receber os eventos."
                      type: object
                      properties:
                        id:
                          description: "Identificador do evento, seguem o padrão **Resource.EventAction**.\r\nOnde **Resource**: nome da entidade que gerou o evento;\r\n**EventAction**: nome do evento e ação criados.\r\nAlguns exemplos **Invoice.Issued** ou **Blob.Updated**"
                          type: string
                        description:
                          description: Descrição para o recurso, evento e ação exemplicando quando e onde eles ocorrem dentro na plataforma.
                          type: string
        "500":
          description: Erro no processamento
      security:
        - Authorization_Header: []
          Authorization_QueryParam: []
  /v1/companies/{company_id}/legalpeople:
    get:
      tags:
        - LegalPeople
      summary: Listar as pessoas jurídicas ativas
      operationId: LegalPeople_Get
      parameters:
        - name: company_id
          in: path
          description: ID da empresa
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Sucesso na requisição
          content:
            application/json:
              schema:
                required:
                  - name
                  - email
                  - address
                type: object
                properties:
                  id:
                    description: Identificação
                    type: string
                  name:
                    description: Nome ou Razão Social
                    type: string
                  tradeName:
                    description: Nome fantasia
                    type: string
                  federalTaxNumber:
                    format: int64
                    description: CNPJ ou CPF
                    type: integer
                  email:
                    description: Email
                    type: string
                  address:
                    description: Endereço
                    required:
                      - country
                      - street
                      - number
                    type: object
                    properties:
                      country:
                        description: "Sigla do País (padrão ISO 3166-1 mais em http://bit.ly/1OgCkxd)\r\nExemplo: BRA, USD, ARG"
                        type: string
                      postalCode:
                        description: 'CEP (Exemplo: 99999-999)'
                        type: string
                      street:
                        description: Logradouro
                        type: string
                      number:
                        description: 'Número (Exemplo: 185 ou S/N)'
                        type: string
                      additionalInformation:
                        description: 'Complemento (Exemplo: BLC A; APT 10'
                        type: string
                      district:
                        description: Bairro
                        type: string
                      city:
                        description: Cidade
                        type: object
                        properties:
                          code:
                            description: Código do IBGE
                            type: string
                          name:
                            description: Nome
                            type: string
                      state:
                        description: Estado
                        type: string
                  openningDate:
                    format: date-time
                    description: Data abertura da empresa
                    type: string
                  taxRegime:
                    description: Tipo do Regime Tributário
                    enum:
                      - Isento
                      - MicroempreendedorIndividual
                      - SimplesNacional
                      - LucroPresumido
                      - LucroReal
                    type: string
                  legalNature:
                    description: Código da Natureza Jurídica
                    enum:
                      - EmpresaPublica
                      - SociedadeEconomiaMista
                      - SociedadeAnonimaAberta
                      - SociedadeAnonimaFechada
                      - SociedadeEmpresariaLimitada
                      - SociedadeEmpresariaEmNomeColetivo
                      - SociedadeEmpresariaEmComanditaSimples
                      - SociedadeEmpresariaEmComanditaporAcoes
                      - SociedadeemContaParticipacao
                      - Empresario
                      - Cooperativa
                      - ConsorcioSociedades
                      - GrupoSociedades
                      - EmpresaDomiciliadaExterior
                      - ClubeFundoInvestimento
                      - SociedadeSimplesPura
                      - SociedadeSimplesLimitada
                      - SociedadeSimplesEmNomeColetivo
                      - SociedadeSimplesEmComanditaSimples
                      - EmpresaBinacional
                      - ConsorcioEmpregadores
                      - ConsorcioSimples
                      - EireliNaturezaEmpresaria
                      - EireliNaturezaSimples
                      - ServicoNotarial
                      - FundacaoPrivada
                      - ServicoSocialAutonomo
                      - CondominioEdilicio
                      - ComissaoConciliacaoPrevia
                      - EntidadeMediacaoArbitragem
                      - PartidoPolitico
                      - EntidadeSindical
                      - EstabelecimentoBrasilFundacaoAssociacaoEstrangeiras
                      - FundacaoAssociacaoDomiciliadaExterior
                      - OrganizacaoReligiosa
                      - ComunidadeIndigena
                      - FundoPrivado
                      - AssociacaoPrivada
                    type: string
                  economicActivities:
                    description: Atividades da Empresa
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          enum:
                            - Main
                            - Secondary
                          type: string
                        code:
                          format: int32
                          type: integer
                  companyRegistryNumber:
                    format: int64
                    description: Número de Inscrição na Junta Comercial
                    type: integer
                  regionalTaxNumber:
                    format: int64
                    description: Número de Inscrição na SEFAZ (IE)
                    type: integer
                  municipalTaxNumber:
                    description: Número de Inscrição na Prefeitura (CCM)
                    type: string
                  status:
                    description: Status no sistema
                    enum:
                      - Inactive
                      - None
                      - Active
                    type: string
                  createdOn:
                    format: date-time
                    description: Data de criação
                    type: string
                  modifiedOn:
                    format: date-time
                    description: Data da última modificação
                    type: string
        "400":
          description: Algum parametro informado não é válido
        "401":
          description: API Key da conta não é valida
        "500":
          description: Erro no processamento
      security:
        - Authorization_Header: []
          Authorization_QueryParam: []
  /v1/companies/{company_id}/legalpeople/{id}:
    get:
      tags:
        - LegalPeople
      summary: Obter os detalhes de uma pessoa jurídica
      operationId: LegalPeople_idGet
      parameters:
        - name: company_id
          in: path
          description: ID da empresa
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: ID da pessoa juridica
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Sucesso na requisição
          content:
            application/json:
              schema:
                type: object
                properties:
                  legalPeople:
                    required:
                      - name
                      - email
                      - address
                    type: object
                    properties:
                      id:
                        description: Identificação
                        type: string
                      name:
                        description: Nome ou Razão Social
                        type: string
                      tradeName:
                        description: Nome fantasia
                        type: string
                      federalTaxNumber:
                        format: int64
                        description: CNPJ ou CPF
                        type: integer
                      email:
                        description: Email
                        type: string
                      address:
                        description: Endereço
                        required:
                          - country
                          - street
                          - number
                        type: object
                        properties:
                          country:
                            description: "Sigla do País (padrão ISO 3166-1 mais em http://bit.ly/1OgCkxd)\r\nExemplo: BRA, USD, ARG"
                            type: string
                          postalCode:
                            description: 'CEP (Exemplo: 99999-999)'
                            type: string
                          street:
                            description: Logradouro
                            type: string
                          number:
                            description: 'Número (Exemplo: 185 ou S/N)'
                            type: string
                          additionalInformation:
                            description: 'Complemento (Exemplo: BLC A; APT 10'
                            type: string
                          district:
                            description: Bairro
                            type: string
                          city:
                            description: Cidade
                            type: object
                            properties:
                              code:
                                description: Código do IBGE
                                type: string
                              name:
                                description: Nome
                                type: string
                          state:
                            description: Estado
                            type: string
                      openningDate:
                        format: date-time
                        description: Data abertura da empresa
                        type: string
                      taxRegime:
                        description: Tipo do Regime Tributário
                        enum:
                          - Isento
                          - MicroempreendedorIndividual
                          - SimplesNacional
                          - LucroPresumido
                          - LucroReal
                        type: string
                      legalNature:
                        description: Código da Natureza Jurídica
                        enum:
                          - EmpresaPublica
                          - SociedadeEconomiaMista
                          - SociedadeAnonimaAberta
                          - SociedadeAnonimaFechada
                          - SociedadeEmpresariaLimitada
                          - SociedadeEmpresariaEmNomeColetivo
                          - SociedadeEmpresariaEmComanditaSimples
                          - SociedadeEmpresariaEmComanditaporAcoes
                          - SociedadeemContaParticipacao
                          - Empresario
                          - Cooperativa
                          - ConsorcioSociedades
                          - GrupoSociedades
                          - EmpresaDomiciliadaExterior
                          - ClubeFundoInvestimento
                          - SociedadeSimplesPura
                          - SociedadeSimplesLimitada
                          - SociedadeSimplesEmNomeColetivo
                          - SociedadeSimplesEmComanditaSimples
                          - EmpresaBinacional
                          - ConsorcioEmpregadores
                          - ConsorcioSimples
                          - EireliNaturezaEmpresaria
                          - EireliNaturezaSimples
                          - ServicoNotarial
                          - FundacaoPrivada
                          - ServicoSocialAutonomo
                          - CondominioEdilicio
                          - ComissaoConciliacaoPrevia
                          - EntidadeMediacaoArbitragem
                          - PartidoPolitico
                          - EntidadeSindical
                          - EstabelecimentoBrasilFundacaoAssociacaoEstrangeiras
                          - FundacaoAssociacaoDomiciliadaExterior
                          - OrganizacaoReligiosa
                          - ComunidadeIndigena
                          - FundoPrivado
                          - AssociacaoPrivada
                        type: string
                      economicActivities:
                        description: Atividades da Empresa
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              enum:
                                - Main
                                - Secondary
                              type: string
                            code:
                              format: int32
                              type: integer
                      companyRegistryNumber:
                        format: int64
                        description: Número de Inscrição na Junta Comercial
                        type: integer
                      regionalTaxNumber:
                        format: int64
                        description: Número de Inscrição na SEFAZ (IE)
                        type: integer
                      municipalTaxNumber:
                        description: Número de Inscrição na Prefeitura (CCM)
                        type: string
                      status:
                        description: Status no sistema
                        enum:
                          - Inactive
                          - None
                          - Active
                        type: string
                      createdOn:
                        format: date-time
                        description: Data de criação
                        type: string
                      modifiedOn:
                        format: date-time
                        description: Data da última modificação
                        type: string
        "400":
          description: Algum parametro informado não é válido
        "401":
          description: API Key da conta não é valida
        "500":
          description: Erro no processamento
      security:
        - Authorization_Header: []
          Authorization_QueryParam: []
  /v1/companies/{company_id}/naturalpeople:
    get:
      tags:
        - NaturalPeople
      summary: Listar as pessoas físicas ativas
      operationId: NaturalPeople_Get
      parameters:
        - name: company_id
          in: path
          description: ID da empresa
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Sucesso na requisição
          content:
            application/json:
              schema:
                type: object
                properties:
                  naturalPeople:
                    type: array
                    items:
                      required:
                        - name
                        - email
                        - address
                      type: object
                      properties:
                        id:
                          description: Identificação
                          type: string
                        name:
                          description: Nome completo
                          type: string
                        federalTaxNumber:
                          format: int64
                          description: CPF
                          type: integer
                        email:
                          description: Email
                          type: string
                        address:
                          description: Endereço
                          required:
                            - country
                            - street
                            - number
                          type: object
                          properties:
                            country:
                              description: "Sigla do País (padrão ISO 3166-1 mais em http://bit.ly/1OgCkxd)\r\nExemplo: BRA, USD, ARG"
                              type: string
                            postalCode:
                              description: 'CEP (Exemplo: 99999-999)'
                              type: string
                            street:
                              description: Logradouro
                              type: string
                            number:
                              description: 'Número (Exemplo: 185 ou S/N)'
                              type: string
                            additionalInformation:
                              description: 'Complemento (Exemplo: BLC A; APT 10'
                              type: string
                            district:
                              description: Bairro
                              type: string
                            city:
                              description: Cidade
                              type: object
                              properties:
                                code:
                                  description: Código do IBGE
                                  type: string
                                name:
                                  description: Nome
                                  type: string
                            state:
                              description: Estado
                              type: string
                        birthDate:
                          format: date-time
                          description: Data nascimento
                          type: string
                        idNumber:
                          description: Número do Registro Geral (RG)
                          type: string
                        status:
                          description: Status no sistema
                          enum:
                            - Inactive
                            - None
                            - Active
                          type: string
                        createdOn:
                          format: date-time
                          description: Data de criação
                          type: string
                        modifiedOn:
                          format: date-time
                          description: Data da última modificação
                          type: string
                  totalResults:
                    format: int64
                    type: integer
                  totalPages:
                    format: int32
                    type: integer
                  page:
                    format: int32
                    type: integer
        "400":
          description: Algum parametro informado não é válido
        "401":
          description: API Key da conta não é valida
        "500":
          description: Erro no processamento
      security:
[...]
