openapi: 3.0.1
info:
  title: API de Emissão de Nota Fiscal de Produto (NFe/NFCe) - RTC
  version: v3
  description: |  
    ### Introdução 
    
    API para emissão de Notas Fiscais de Produto (NFe/NFCe) de acordo com a legislação vigente e os padrões estabelecidos pelo Governo. 
    
    ### Adequação de Leiaute 
    
    Leiaute NFe/NFCe Reforma Tributária do Consumo - Modelo 55 e 65. 
    
    Esta adequação de leiaute contempla até a Nota Técnica **NT_2025.002_v1.30_RTC_NF-e_IBS_CBS_IS**. 
    
    > **Atenção** 
    > _Sujeito a alterações mediante notas técnicas e processos de homologação._
servers:
  - url: https://api.nfse.io
    description: Nota Fiscal de Produto/Consumidor (RTC).
tags:
  - name: Nota Fiscal de Produto/Consumidor (RTC)
    description: Operações relacionadas à Nota Fiscal Eletrônica de Produto

paths:
  /v2/companies/:companyId/productinvoices:
    post:
      tags:
        - Nota Fiscal de Produto/Consumidor (RTC)
      summary: Envio de dados para emissão de NF-e/NFC-e
      description: Envia os dados para a criação e autorização de uma nova Nota Fiscal de Produto.
      operationId: createProductInvoice
      requestBody:
        description: "Objeto JSON contendo todos os dados da NF-e, conforme o schema ProductInvoiceRequest."
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductInvoiceRequest'
            examples:
              minimalWithIBSCBS:
                summary: Exemplo Mínimo com IBS/CBS
                value:
                  operationType: "Outgoing"
                  destination: "InternalOperation"
                  printType: "DANFE_NFC_E"
                  purposeType: "Normal"
                  consumerType: "FinalConsumer"
                  presenceType: "Internet"
                  buyer:
                    name: "NF-E EMITIDA EM AMBIENTE DE HOMOLOGACAO - SEM VALOR FISCAL"
                    federalTaxNumber: 11223344000155
                    address:
                      state: "SC"
                      city:
                        code: "4205407"
                        name: "Florianópolis"
                      district: "Centro"
                      street: "Rua Teste"
                      number: "123"
                      postalCode: "88010000"
                      country: "BRA"
                    type: "LegalEntity"
                    stateTaxNumberIndicator: "TaxPayer"
                    stateTaxNumber: "123456789"
                  items:
                    - description: "NOTA FISCAL EMITIDA EM AMBIENTE DE HOMOLOGACAO - SEM VALOR FISCAL"
                      ncm: "85171300"
                      cfop: 5102
                      quantity: 1.0
                      unitAmount: 150.00
                      totalAmount: 150.0
                      totalIndicator: true
                      tax:
                        icms:
                          origin: "0"
                          cst: "00"
                        pis:
                          cst: "01"
                        cofins:
                          cst: "01"
                        IBSCBS:
                          situationCode: "000"
                          classCode: "000001"
                          calculationMode: "OfficialService"
                  payment:
                    - paymentDetail:
                        - method: "Cash"
                          paymentType: "InCash" # Pagamento à vista
                          amount: 150.00
              intermediateWithDetailedIBSCBS:
                summary: Exemplo Intermediário com IBS/CBS detalhado
                value:
                  operationType: "Outgoing"
                  destination: "InterstateOperation"
                  printType: "NFeNormalPortrait"
                  purposeType: "Normal"
                  consumerType: "Normal"
                  presenceType: "Internet"
                  buyer:
                    name: "Empresa Exemplo Intermediario LTDA"
                    federalTaxNumber: 11223344000155
                    address:
                      state: "RJ"
                      city:
                        code: "3304557"
                        name: "Rio de Janeiro"
                      district: "Centro"
                      street: "Avenida Rio Branco"
                      number: "1"
                      postalCode: "20090003"
                      country: "BRA"
                    type: "LegalEntity"
                    stateTaxNumberIndicator: "TaxPayer"
                    stateTaxNumber: "123456789"
                  items:
                    - description: "Produto Exemplo com IBS/CBS Detalhado"
                      ncm: "84713012"
                      cfop: 6102
                      quantity: 2.0
                      unitAmount: 750.00
                      totalAmount: 1500.00
                      totalIndicator: true
                      tax:
                        icms:
                          origin: "0"
                          cst: "00"
                        pis:
                          cst: "01"
                        cofins:
                          cst: "01"
                        IBSCBS:
                          situationCode: "101"
                          classCode: "RT0001"
                          basis: 1500.00
                          state: # IBS Estadual
                            rate: 8.5
                            amount: 127.50
                          municipal: # IBS Municipal
                            rate: 2.0
                            amount: 30.00
                          cbs: # CBS
                            rate: 10.5
                            amount: 157.50
                  totals:
                    icms:
                      productAmount: 1500.00
                      invoiceAmount: 1500.00
                    ibsCbsTotals:
                      basis: 1500.00
                      ibs:
                        state: { amount: 127.50 }
                        municipal: { amount: 30.00 }
                        totalAmount: 157.50
                      cbs:
                        amount: 157.50
                    totalInvoiceAmount: 1657.50
                  payment:
                    - paymentDetail:
                        - method: "InstantPayment" # Pagamento Instantâneo PIX
                          paymentType: "InCash"
                          amount: 1500.00
              intermediateWithTaxDetermination:
                summary: Exemplo Intermediário com taxDetermination
                value:
                  operationType: "Outgoing"
                  destination: "InterstateOperation"
                  printType: "NFeNormalPortrait"
                  purposeType: "Normal"
                  consumerType: "Normal"
                  presenceType: "Internet"
                  buyer:
                    name: "Empresa Exemplo com Tax Determination"
                    federalTaxNumber: 55443322000111
                    address:
                      state: "SP"
                      city:
                        code: "3550308"
                        name: "São Paulo"
                      district: "Itaim Bibi"
                      street: "Avenida Brigadeiro Faria Lima"
                      number: "2000"
                      postalCode: "01452002"
                      country: "BRA"
                    type: "LegalEntity"
                    stateTaxNumberIndicator: "TaxPayer"
                    stateTaxNumber: "987654321"
                  items:
                    - description: "Produto com cálculo automático de imposto"
                      ncm: "90064000"
                      quantity: 5.0
                      unitAmount: 300.00
                      totalAmount: 1500.00
                      totalIndicator: true
                      taxDetermination:
                        operationCode: 121
                        issuerTaxProfile: "retail"
                        buyerTaxProfile: "final_consumer_non_icms_contributor"
                        origin: "0"
                        acquisitionPurpose: null
                      tax:
                        IBSCBS: # Grupo de Informações do IBS e CBS
                          situationCode: "000" # Código de Situação Tributária do IBS/CBS
                          classCode: "000001" # Código de Classificação Tributária do IBS/CBS
                          calculationMode: "OfficialService"
              full:
                summary: Exemplo Completo (Exaustivo)
                value:
                  id: "nfe-exemplo-completo-12345"
                  payment:
                    - paymentDetail:
                        - method: "CreditCard"
                          methodDescription: "Cartão de Crédito Master"
                          paymentType: "Term"
                          amount: 1500.5
                          card:
                            federalTaxNumber: "12345678000199"
                            flag: "Mastercard"
                            authorization: "ABC123456"
                            integrationPaymentType: "Integrated"
                            federalTaxNumberRecipient: "98765432000100" # CNPJ do beneficiário do pagamento
                            idPaymentTerminal: "TERM-PDV-001"
                          paymentDate: "2025-10-28T10:00:00-03:00"
                          federalTaxNumberPag: "11223344000155"
                          statePag: "SP"
                        - method: "InstantPayment"
                          methodDescription: "PIX"
                          paymentType: "InCash"
                          amount: 523.5
                          card: null # Grupo de Cartões
                          paymentDate: "2025-10-29T11:30:00-03:00"
                          federalTaxNumberPag: "111222333000144"
                          statePag: "RJ"
                      payBack: 0.0
                  serie: 1
                  number: 987654
                  operationOn: "2025-10-28T10:00:00-03:00"
                  expectedDeliveryOn: "2025-10-30"
                  operationNature: "Venda de Mercadoria c/ Reforma Tributaria"
                  operationType: "Outgoing"
                  destination: "InterstateOperation"
                  consumptionCityCode: 3550308
                  ibsConsumptionCityCode: 3550308
                  printType: "NFeNormalPortrait"
                  purposeType: "Normal" # Finalidade da emissão
                  debitType: "FinesAndInterest"
                  creditType: "IbsPresumedCreditAppropriationZfm"
                  consumerType: "Normal"
                  presenceType: "Internet"
                  contingencyOn: "2025-10-28T09:00:00-03:00"
                  contingencyJustification: "Problemas tecnicos no SEFAZ de origem."
                  governmentPurchase:
                    entityType: "state"
                    rateReduction: 15.5
                    operationType: "supply"
                  buyer:
                    accountId: "ACC-BUYER-789"
                    id: "BUYER-001"
                    name: "Empresa Compradora Exemplo LTDA"
                    federalTaxNumber: 11223344000155
                    email: "compras@comprador.com"
                    address:
                      state: "RJ"
                      city:
                        code: "3304557"
                        name: "Rio de Janeiro"
                      district: "Centro"
                      additionalInformation: "Sala 1001"
                      street: "Avenida Rio Branco"
                      number: "1"
                      postalCode: "20090003"
                      country: "BRA"
                      phone: "21987654321"
                    type: "LegalEntity"
                    stateTaxNumberIndicator: "TaxPayer"
                    tradeName: "Comprador Exemplo"
                    taxRegime: "LucroReal"
                    stateTaxNumber: "123456789"
                  transport:
                    freightModality: "ByThirdParties"
                    transportGroup:
                      accountId: "ACC-TRANSP-456"
                      id: "TRANSP-001"
                      name: "Transportadora Veloz S.A."
                      federalTaxNumber: 55667788000199
                      email: "contato@transportadora.com"
                      address:
                        state: "SP"
                        city:
                          code: "3550308"
                          name: "São Paulo"
                        district: "Vila Olimpia"
                        additionalInformation: "Andar 5"
                        street: "Rua Funchal"
                        number: "500"
                        postalCode: "04551060"
                        country: "BRA"
                        phone: "11912345678"
                      type: "LegalEntity"
                      stateTaxNumber: "987654321"
                      transportRetention: null
                    reboque:
                      plate: "REB1A23"
                      uf: "SP"
                      rntc: "12345678"
                      wagon: "WAG-001"
                      ferry: "BAL-001"
                    volume:
                      volumeQuantity: 10
                      species: "Caixa (CX)"
                      brand: "MARCA-EXEMPLO"
                      volumeNumeration: "001-010"
                      netWeight: 1000.5
                      grossWeight: 1100.75
                    transportVehicle:
                      plate: "VEI4B56"
                      state: "SP"
                      rntc: "87654321"
                    sealNumber: "LACRE-98765"
                    transpRate:
                      serviceAmount: 350.0
                      bcRetentionAmount: 350.0
                      icmsRetentionRate: 12.0
                      icmsRetentionAmount: 42.0
                      cfop: 5352
                      cityGeneratorFactCode: 3550308
                  additionalInformation:
                    fisco: "Informacoes de interesse do Fisco (Reforma Tributaria)."
                    taxpayer: "Informacoes complementares do contribuinte."
                    xmlAuthorized: [12345678901, 98765432109]
                    effort: "Safra 2025"
                    order: "Pedido 123"
                    contract: "Contrato 456"
                    taxDocumentsReference:
                      - documentElectronicInvoice:
                          accessKey: "41251012345678000199550010009876541234567890"
                    advancePayment:
                      - accessKey: "41251012345678000199550010001112221234567890"
                    taxpayerComments:
                      - field: "MeuCampoCustom"
                        text: "Observacao fiscal do meu campo"
                      - field: "OutroCampo"
                        text: "Outra observacao"
                    referencedProcess:
                      - identifierConcessory: "PROC-JUD-123"
                        identifierOrigin: 1
                        concessionActType: 1
                  export:
                    state: "SP"
                    office: "Porto de Santos"
                    local: "Armazem 1 - Alfandega"
                  items:
                    - code: "PROD-EXAUSTIVO-001"
                      codeGTIN: "7891234567890"
                      description: "Produto de Exemplo Exaustivo com todos os impostos"
                      ncm: "84713012"
                      nve: ["AA01", "BB02"]
                      extipi: "01"
                      cfop: 5102
                      unit: "UN"
                      quantity: 10.0
                      unitAmount: 200.0
                      totalAmount: 2000.0
                      codeTaxGTIN: "7891234567890"
                      unitTax: "UN"
                      quantityTax: 10.0
                      taxUnitAmount: 200.0
                      freightAmount: 10.0
                      insuranceAmount: 5.0
                      discountAmount: 15.0
                      othersAmount: 2.0
                      totalIndicator: true
                      usedMovableAssetIndicator: false
                      itemAmount: 2002.0 # Valor total do item
                      cest: "0100100"
                      benefit: "RS051500"
                      tax:
                        totalTax: 450.5
                        icms:
                          origin: "0"
                          cst: "00"
                          csosn: null
                          baseTaxModality: "3"
                          baseTax: 2002.0
                          baseTaxSTModality: "4"
                          baseTaxSTReduction: "10.0"
                          baseTaxST: 2200.0
                          baseTaxReduction: 0.0
                          basisBenefitCode: "BENEF-ICMS-01"
                          stRate: 18.0
                          stAmount: 396.0
                          stMarginAmount: 10.0
                          rate: 18.0
                          amount: 360.36
                          percentual: null
                          snCreditRate: 0.0
                          snCreditAmount: 0.0
                          stMarginAddedAmount: "10.0"
                          stRetentionAmount: "396.0"
                          baseSTRetentionAmount: "2200.0"
                          baseTaxOperationPercentual: "100.0"
                          ufst: "RJ"
                          amountSTReason: "Valor desonerado ST"
                          baseSNRetentionAmount: "0.0"
                          snRetentionAmount: "0.0"
                          amountOperation: "360.36"
                          percentualDeferment: "0.0"
                          baseDeferred: "0.0"
                          exemptAmount: 0.0
                          exemptReason: "Others"
                          exemptAmountST: 0.0
                          exemptReasonST: "Others"
                          fcpRate: 2.0
                          fcpAmount: 40.04
                          fcpstRate: 2.0
                          fcpstAmount: 44.0
                          fcpstRetRate: 2.0
                          fcpstRetAmount: 44.0
                          baseTaxFCPSTAmount: 2200.0
                          substituteAmount: 360.36
                          stFinalConsumerRate: 20.0
                          effectiveBaseTaxReductionRate: 0.0
                          effectiveBaseTaxAmount: 2002.0
                          effectiveRate: 18.0
                          effectiveAmount: 360.36
                          deductionIndicator: "NotDeduct"
                        ipi:
                          cst: "50"
                          classificationCode: "999"
                          classification: "CL-01"
                          producerCNPJ: "44556677000188"
                          stampCode: "SELO-IPI-123"
                          stampQuantity: 10.0
                          base: 2002.0
                          rate: 10.0
                          unitQuantity: 10.0
                          unitAmount: 20.0
                          amount: 200.2
                        ii:
                          baseTax: "2002.00"
                          customsExpenditureAmount: "100.00"
                          amount: 120.0
                          iofAmount: 20.0
                          vEnqCamb: 5.0
                        pis:
                          cst: "01"
                          baseTax: 2002.0
                          rate: 1.65
                          amount: 33.03
                          baseTaxProductQuantity: 10.0
                          productRate: 3.303
                        cofins:
                          cst: "01"
                          baseTax: 2002.0
                          rate: 7.6
                          amount: 152.15
                          baseTaxProductQuantity: 10.0
                          productRate: 15.215
                        icmsDestination:
                          vBCUFDest: 2002.0
                          pFCPUFDest: 2.0
                          pICMSUFDest: 18.0
                          pICMSInter: 12.0
                          pICMSInterPart: 60.0
                          vFCPUFDest: 40.04
                          vICMSUFDest: 72.07
                          vICMSUFRemet: 48.05
                          vBCFCPUFDest: 2002.0
                        IS:
                          situationCode: "101"
                          classificationCode: "IS0001"
                          basis: 2002.0
                          rate: 5.0
                          unitRate: null
                          unit: null
                          quantity: null
                          amount: 100.1
                        IBSCBS:
                          situationCode: "101"
                          classCode: "RT0001"
                          donationIndicator: "0"
                          basis: 2002.0
                          state:
                            rate: 10.0
                            deferment: { rate: 1.0, amount: 20.02 }
                            returnedAmount: { amount: 10.0 }
                            reduction: { rateReduction: 0.5, effectiveRate: 9.5 }
                            amount: 190.19
                          municipal:
                            rate: 5.0
                            deferment: { rate: 0.5, amount: 10.01 }
                            returnedAmount: { amount: 5.0 }
                            reduction: { rateReduction: 0.2, effectiveRate: 4.8 }
                            amount: 96.1
                          ibsTotalAmount: 286.29
                          cbs:
                            rate: 12.0
                            deferment: { rate: 1.0, amount: 24.02 }
                            returnedAmount: { amount: 12.0 }
                            reduction: { rateReduction: 0.1, effectiveRate: 10.8 }
                            amount: 216.22
                          regularTaxation:
                            situationCode: "101"
                            classCode: "RT0001"
                            stateEffectiveRate: 10.0
                            amount: 200.2
                            municipalEffectiveRate: 5.0
                            municipalAmount: 100.1
                            cbsEffectiveRate: 12.0
                            cbsAmount: 240.24
                          governmentPurchase:
                            stateRate: 8.0
                            stateAmount: 160.16
                            municipalRate: 4.0
                            municipalAmount: 80.08
                            cbsRate: 10.0
                            cbsAmount: 200.2
                          monophase:
                            standart:
                              quantityBasis: 10.0
                              ibsAdRemRate: 15.0
                              cbsAdRemRate: 25.0
                              ibsAmount: 150.0
                              cbsAmount: 250.0
                            withholding:
                              quantityBasis: 5.0
                              ibsAdRemRate: 10.0
                              ibsAmount: 50.0
                              cbsAdRemRate: 20.0
                              cbsAmount: 100.0
                            previouslyWithheld:
                              quantityBasis: 3.0
                              ibsAdRemRate: 5.0
                              ibsAmount: 15.0
                              cbsAdRemRate: 10.0
                              cbsAmount: 30.0
                            deferment:
                              ibsRate: 50.0
                              ibsAmount: 75.0
                              cbsRate: 50.0
                              cbsAmount: 125.0
                            ibsAmount: 140.0
                            cbsAmount: 255.0
                          creditTransfer:
                            ibsAmount: 50.0
                            cbsAmount: 30.0
                          operationalPresumedCredit: # Crédito presumido operacional
                            basis: 1000.0
                            classificationCode: "RuralProducerNonTaxpayer"
                            ibs: { rate: 10.0, amount: 100.0, suspensiveConditionAmount: 10.0 }
                            cbs: { rate: 5.0, amount: 50.0, suspensiveConditionAmount: 5.0 }
                          creditReversal:
                            ibsReversalAmount: 2.0 # Valor do IBS a ser estornado
                            cbsReversalAmount: 1.0
                          zfmPresumedCredit:
                            classificationCode: "IntermediateGoods"
                            amount: 123.45
                      competenceAdjustment:
                        assessmentPeriod: "2025-09"
                        ibsAmount: 5.0
                        cbsAmount: 3.0 # Valor de CBS referente ao ajuste de competência
                      additionalInformation: "Informacao adicional do item."
                      numberOrderBuy: "PED-COMPRA-555" # Número do pedido de compra
                      itemNumberOrderBuy: 1
                      importControlSheetNumber: "FCI-12345678-ABCD"
                      vehicleDetail:
                        operationType: 1 # 1-Venda concessionária
                        chassis: "9BWZZZ377VT004251"
                        colorCode: "001"
                        colorDescription: "PRETO"
                        enginePower: "150"
                        engineDisplacement: "1998"
                        netWeight: "1250.000"
                        grossWeight: "1500.000"
                        serialNumber: "123456789"
                        fuelType: "16" # 16-Álcool/Gasolina
                        engineNumber: "MOTOR123456789"
                        maximumTractionCapacity: "0.0000"
                        wheelBase: "2649"
                        modelYear: 2026
                        manufactureYear: 2025
                        paintType: "S" # Sólida
                        vehicleType: "06" # Automóvel
                        vehicleSpecies: 1 # Passageiro
                        vinCondition: "N" # N-Normal
                        vehicleCondition: 1 # 1-Acabado
                        brandModelCode: "025104"
                        denatranColorCode: "11" # 11-PRETA
                        seatingCapacity: 5
                        restrictionType: 0 # 0-Não há
                      fuelDetail:
                        codeANP: "210203001"
                        percentageNG: 50.0
                        descriptionANP: "GLP"
                        percentageGLP: 40.0 # Percentual de GLP derivado do petróleo
                        percentageNGn: 30.0
                        percentageGNi: 20.0
                        startingAmount: 100.0
                        codif: "CODIF-123"
                        amountTemp: 10.0
                        stateBuyer: "RJ"
                        cide: { bc: 10.0, rate: 5.0, cideAmount: 0.5 }
                        pump: { spoutNumber: 1, number: 1, tankNumber: 1, beginningAmount: 1000.0, endAmount: 1010.0, percentageBio: 10.0 }
                        fuelOrigin: { indImport: 1, cUFOrig: 35, pOrig: 10.0 }
                      presumedCredit: { code: "BENEF-001", rate: 4.0, amount: 80.08 }
                      ibsZfmPresumedCreditClassification: "ItAndOtherGoods"
                      importDeclarations:
                        - code: "DI-123456"
                          registeredOn: "2025-10-01T10:00:00-03:00"
                          customsClearanceName: "Porto de Santos"
                          customsClearanceState: "SP"
                          customsClearancedOn: "2025-10-15T10:00:00-03:00"
                          additions:
                            - { code: 1, manufacturer: "FAB-CHINA-XYZ", amount: 10.0, drawback: 12345 }
                          exporter: "EXP-US-99"
                          internationalTransport: "Maritime"
                          intermediation: "ByOrder"
                          acquirerFederalTaxNumber: "11223344000155"
                          stateThird: "RJ"
                      exportDetails:
                        - drawback: "DB-98765"
                          hintInformation: { registryId: "RE-555444", accessKey: "41251012345678000199550010003334441234567890", quantity: 10.0 }
                      referencedDFe:
                        accessKey: "35251098765432000199550010000001231000001234"
                        itemNumber: 1
                      taxDetermination:
                        operationCode: 120
                        issuerTaxProfile: "industry"
                        buyerTaxProfile: "final_consumer_non_icms_contributor"
                        origin: "0"
                        acquisitionPurpose: "43"
                  purchaseInformation:
                    commitmentNote: "NE-2025-12345"
                    purchaseOrder: "PO-2025-67890"
                    contractNumber: "CT-2025-ABCDE"
                  totals:
                    icms:
                      baseTax: 2002.0
                      icmsAmount: 360.36
                      icmsExemptAmount: 0.0
                      stCalculationBasisAmount: 2200.0
                      stAmount: 396.0
                      productAmount: 2000.0
                      freightAmount: 10.0
                      insuranceAmount: 5.0
                      discountAmount: 15.0
                      iiAmount: 120.0
                      ipiAmount: 200.2
                      pisAmount: 33.03
                      cofinsAmount: 152.15
                      othersAmount: 2.0
                      invoiceAmount: 2023.5
                      fcpufDestinationAmount: 40.04
                      icmsufDestinationAmount: 72.07
                      icmsufSenderAmount: 48.05
                      federalTaxesAmount: 450.5
                      fcpAmount: 40.04
                      fcpstAmount: 44.0
                      fcpstRetAmount: 44.0
                      ipiDevolAmount: 0.0
                      qBCMono: 10.0
                      vICMSMono: 150.0
                      qBCMonoReten: 5.0
                      vICMSMonoReten: 50.0
                      qBCMonoRet: 3.0
                      vICMSMonoRet: 15.0
                    issqn:
                      totalServiceNotTaxedICMS: 0.0
                      baseRateISS: 0.0
                      totalISS: 0.0
                      valueServicePIS: 0.0
                      valueServiceCOFINS: 0.0
                      provisionService: "2025-10-28T10:00:00-03:00"
                      deductionReductionBC: 0.0
                      valueOtherRetention: 0.0
                      discountUnconditional: 0.0
                      discountConditioning: 0.0
                      totalRetentionISS: 0.0
                      codeTaxRegime: 1.0
                    withheldTaxes:
                      pisAmount: 10.0 # Valor Retido de PIS
                      cofinsAmount: 50.0
                      csllAmount: 20.0
                      irrfBasis: 1000.0
                      irrfAmount: 150.0
                      socialSecutiryBasis: 1000.0
                      socialSecutiryAmount: 110.0
                    isTotals:
                      amount: 100.1
                    ibsCbsTotals:
                      basis: 2002.0
                      ibs:
                        state: { defermentAmount: 20.02, returnedAmount: 10.0, amount: 190.19 }
                        municipal: { defermentAmount: 10.01, returnedAmount: 5.0, amount: 96.1 }
                        totalAmount: 286.29
                        presumedCreditAmount: 100.0
                        presumedCreditConditionalAmount: 10.0
                      cbs:
                        defermentAmount: 24.02
                        returnedAmount: 12.0
                        amount: 216.22
                        presumedCreditAmount: 50.0
                        presumedCreditConditionalAmount: 5.0
                      monophase:
                        ibs: { amount: 150.0, withheldAmount: 50.0, previouslyWithheldAmount: 15.0 } # Totais de IBS monofásico
                        cbs: { amount: 250.0, withheldAmount: 100.0, previouslyWithheldAmount: 30.0 } # Totais de CBS monofásico
                    totalInvoiceAmount: 2675.04
                  billing:
                    bill:
                      number: "FAT-987654"
                      originalAmount: 2000.0
                      discountAmount: 15.0
                      netAmount: 1985.0
                    duplicates:
                      - { number: "DUP-001", expirationOn: "2025-11-28T00:00:00Z", amount: 1000.0 }
                      - { number: "DUP-002", expirationOn: "2025-12-28T00:00:00Z", amount: 985.0 }
                  issuer:
                    stStateTaxNumber: "9876543210"
                  transactionIntermediate:
                    federalTaxNumber: 77889900000144 # CNPJ do Intermediador da Transação
                    identifier: "Marketplace-ID-555"
                  delivery:
                    accountId: "ACC-DELIV-111"
                    id: "DELIV-001"
                    name: "Local de Entrega Ltda"
                    federalTaxNumber: 22334455000166
                    email: "entrega@local.com"
                    address:
                      state: "MG"
                      city: { code: "3106200", name: "Belo Horizonte" }
                      district: "Savassi"
                      additionalInformation: "Loja B"
                      street: "Avenida Cristovão Colombo"
                      number: "300"
                      postalCode: "30140150"
                      country: "BRA"
                      phone: "31911223344"
                    type: "LegalEntity"
                    stateTaxNumber: "111222333"
                  withdrawal:
                    accountId: "ACC-WITHDR-222"
                    id: "WITHDR-001"
                    name: "Local de Retirada Ltda"
                    federalTaxNumber: 33445566000177
                    email: "retirada@local.com"
                    address:
                      state: "PR"
                      city: { code: "4106902", name: "Curitiba" }
                      district: "Centro Cívico"
                      additionalInformation: "Galpão 3"
                      street: "Avenida Cândido de Abreu"
                      number: "100"
                      postalCode: "80530000"
                      country: "BRA"
                      phone: "41955667788"
                    type: "LegalEntity"
                    stateTaxNumber: "444555666"
      responses:
        '201':
          description: NF-e criada com sucesso (aguardando processamento/autorização).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceResource'
        '400':
          description: Erro de validação (Bad Request). O corpo da requisição está inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResource'
        '500':
          description: Erro interno do servidor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
components:
  schemas:
    ProductInvoiceRequest:
      title: "Nota Fiscal de Produto (NFe) Schema"
      description: "Schema para validar o objeto ProductInvoiceRequest da API"
      type: "object"
      required:
        - items
        - payment
      properties:
        id:
          type: "string"
          nullable: true
          description: "Identificador único"
        payment:
          type: "array"
          items:
            $ref: "#/components/schemas/PaymentResource"
          description: "Grupo de Formas de Pagamento (pag)"
        serie:
          type: "integer"
          nullable: true
          description: "Série do Documento Fiscal (serie)"
          format: "int32"
        number:
          type: "integer"
          nullable: true
          description: "Número do Documento Fiscal (nNF)"
          format: "int64"
        operationOn:
          type: "string"
          nullable: true
          description: "Data e Hora de Saída ou da Entrada da Mercadoria/Produto (dhSaiEnt)\r\n<remarks>\r\n    Data e hora no formato UTC (Universal Coordinated Time): AAAA-MM-DDThh:mm:ssTZD.\r\n</remarks>"
          format: "date-time"
        expectedDeliveryOn:
          type: "string"
          nullable: true
          description: "Data da previsão de entrega ou disponibilização do bem (dPrevEntrega). Formato: “AAAA-MM-DD”. Observação: Não informar este campo para a NFC-e."
          format: "date"
        operationNature:
          type: "string"
          nullable: true
          description: "Descrição da Natureza da Operação (natOp)"
        operationType:
          description: "Tipo do Documento Fiscal (tpNF)"
          $ref: "#/components/schemas/OperationType"
        destination:
          description: "Identificador de Local de destino da operação (idDest)"
          $ref: "#/components/schemas/Destination"
        consumptionCityCode:
          description: "Código do Município de Ocorrência do Fato Gerador (cMunFG)"
          $ref: "#/components/schemas/ConsumptionCityCode"
        ibsConsumptionCityCode:
          description: "Município de ocorrência do fato gerador do IBS/CBS (cMunFGIBS)"
          $ref: "#/components/schemas/IbsConsumptionCityCode"
        printType:
          description: "Formato de impressão do DANFE (tpImp)"
          $ref: "#/components/schemas/PrintType"
        purposeType:
          description: "Finalidade da emissão da NF-e (finNFe)"
          $ref: "#/components/schemas/PurposeType"
        debitType:
          description: "Tipo de Nota de Débito (tpNFDebito)"
          $ref: "#/components/schemas/DebitType"
        creditType:
          $ref: "#/components/schemas/CreditType"
        consumerType:
          description: "Indica operação com Consumidor final (indFinal)"
          $ref: "#/components/schemas/ConsumerType"
        presenceType:
          description: "Indicador de presença do comprador no estabelecimento (indPres)"
          $ref: "#/components/schemas/ConsumerPresenceType"
        contingencyOn:
          type: "string"
          nullable: true
          description: "Data e Hora da entrada em contingência (dhCont)\r\n<remarks>\r\n    Data e hora no formato UTC (Universal Coordinated Time): AAAA-MM-DDThh:mm:ssTZD\r\n</remarks>"
          format: "date-time"
        contingencyJustification:
          type: "string"
          nullable: true
          description: "Justificativa da entrada em contingência (xJust)"
        governmentPurchase:
          description: "Grupo de Compras Governamentais (gCompraGov)"
          $ref: "#/components/schemas/GovernmentPurchaseResource"
        buyer:
          description: "Identificação do Destinatário (dest)"
          $ref: "#/components/schemas/BuyerResource"
        transport:
          description: "Grupo de Informações do Transporte da NF-e (transp)"
          $ref: "#/components/schemas/TransportInformationResource"
        additionalInformation:
          description: "Informações adicionais da NF-e (infAdic)"
          $ref: "#/components/schemas/AdditionalInformationResource"
        export:
          description: "Informações de exportação (exporta)"
          $ref: "#/components/schemas/ExportResource"
        items:
          type: "array"
          minItems: 1
          items:
            $ref: "#/components/schemas/InvoiceItemResource"
          description: "Detalhamento de Produtos e Serviços (det). Pelo menos um item é obrigatório."
        totals:
          description: "Grupo de Valores Totais da NF-e (total)"
          $ref: "#/components/schemas/Total"
        billing:
          $ref: "#/components/schemas/BillingResource"
        issuerTaxSubstitute:
          description: "IE do Substituto Tributário da UF de destino da mercadoria, quando houver a retenção do ICMS ST para a UF de destino. (IEST)"
          $ref: "#/components/schemas/IssuerFromRequestResource"
        transactionIntermediate:
          description: "Grupo de Informações do Intermediador da Transação (infIntermed)"
          $ref: "#/components/schemas/IntermediateResource"
        delivery:
          description: "Identificação do Local de entrega (entrega)"
          $ref: "#/components/schemas/DeliveryInformationResource"
        withdrawal:
          description: "Identificação do Local de retirada (retirada)"
          $ref: "#/components/schemas/WithdrawalInformationResource"
        purchaseInformation:
          $ref: "#/components/schemas/PurchaseInformationResource"
      additionalProperties: false
    ActivityResource:
      type: "object"
      properties:
        data:
          description: "Detalhes do Evento"
          nullable: true
        type: # Nome do Evento gerado
          type: "string"
          nullable: true
          description: "Nome do Evento gerado"
        sequence:
          type: "integer"
          nullable: true
          description: "Número sequencial do Evento"
          format: "int32"
      additionalProperties: false
    AdditionResource:
      type: "object"
      properties:
        code:
          type: "integer" # Numero da adição
          nullable: true
          description: "Numero da adição (nAdicao)"
          format: "int64"
        manufacturer:
          type: "string"
          nullable: true
          description: "Código do fabricante estrangeiro (cFabricante)"
        amount:
          type: "number"
          nullable: true # Valor do desconto do item da DI – Adição
          description: "Valor do desconto do item da DI – Adição (vDescDI)"
          format: "double"
        drawback:
          type: "integer"
          nullable: true
          description: "Número do ato concessório de Drawback (nDraw)"
          format: "int64"
      additionalProperties: false
      description: "Adições (adi)"
    AdditionalInformationResource:
      type: "object"
      properties:
        fisco:
          type: "string" # Informações Adicionais de Interesse do Fisco
          nullable: true
          description: "Informações Adicionais de Interesse do Fisco (infAdFisco)"
        taxpayer:
          type: "string"
          nullable: true
          description: "Informações Complementares de interesse do Contribuinte (infCpl)"
        xmlAuthorized:
          type: "array"
          nullable: true
          items:
            type: "integer"
            format: "int64"
          description: "Pessoas autorizadas para o download do XML da NF-e (autXML). CNPJ ou CPF das pessoas autorizadas. Máximo de 10 autorizações."
        effort:
          type: "string"
          nullable: true # Esforço
          description: "Esforço (xCampo)"
        order:
          type: "string"
          nullable: true
          description: "Pedido (xCampo)"
        contract:
          type: "string"
          nullable: true
          description: "Contrato (xCampo)"
        taxDocumentsReference:
          type: "array"
          nullable: true
          items:
            $ref: "#/components/schemas/TaxDocumentsReferenceResource"
          description: "Documentos Fiscais Referenciados (refECF)"
        advancePayment: # Grupo de notas de antecipação de pagamento
          type: "array"
          nullable: true
          items:
            $ref: "#/components/schemas/AdvancePaymentItemResource"
          description: "Grupo de notas de antecipação de pagamento - Informado para abater as parcelas de antecipação de pagamento, conforme Art. 10. § 4º (gPagAntecipado)."
        taxpayerComments:
          type: "array"
          nullable: true
          items:
            $ref: "#/components/schemas/TaxpayerCommentsResource"
          description: "Observações fiscais (obsCont)"
        referencedProcess: # Processos referenciados
          type: "array"
          nullable: true
          items:
            $ref: "#/components/schemas/ReferencedProcessResource"
          description: "Processos referenciados (procRef)"
      additionalProperties: false
    AddressResource:
      type: "object"
      required:
        - state
        - city
        - district
        - street
        - number
      properties:
        state:
          type: "string" # Estado
          description: "Estado, ex.: SP, RJ, AC, padrão ISO 3166-2 ALFA 2."
        city:
          description: "Cidade do Endereço (cMun)"
          $ref: "#/components/schemas/CityResource"
        district:
          type: "string"
          description: "Bairro do Endereço (xBairro)"
        additionalInformation:
          type: "string"
          nullable: true
          description: "Complemento do Endereço, ex.: AP 2, BL A. (xCpl)"
        street:
          type: "string"
          description: "Logradouro do Endereço (xLgr)"
        number: # Número do Endereço
          type: "string"
          description: "Número do Endereço. Usar S/N para \"sem número\". (nro)"
        postalCode:
          type: "string"
          nullable: true
          description: "Cód. Endereço Postal (CEP)"
        country:
          type: "string" # País
          nullable: true
          description: "País, ex.: BRA, ARG, USA, padrão ISO 3166-1 ALFA-3. (xPais). Opcional — se omitido, assume BRA."
          default: "BRA"
        phone:
          type: "string"
          nullable: true
          description: "Telefone (fone)"
      additionalProperties: false
      description: "Dados do Endereço"
    AdvancePaymentItemResource:
      type: "object"
      properties:
        accessKey: # Chave de Acesso da NF-e para antecipação de pagamento
          type: "string"
          nullable: true
      additionalProperties: false
      description: "Grupo de notas de antecipação de pagamento - Informado para abater as parcelas de antecipação de pagamento, conforme Art. 10. § 4º (gPagAntecipado)."
    AuthorizationResource:
      type: "object"
      properties:
        receiptOn:
          type: "string"
          nullable: true # Data e hora do recebimento
          description: "Data e hora do recebimento (dhRecbto)"
          format: "date-time"
        accessKey:
          type: "string"
          nullable: true
          description: "Chave de Acesso da NF-e (chNFe)"
        message:
          type: "string"
          nullable: true # Mensagem da SEFAZ
        description:
          type: string
          description: "Mensagem da SEFAZ (xMotivo)"
      additionalProperties: false
    BillResource:
      type: "object"
      properties:
        number:
          type: "string" # Número da Fatura
          nullable: true
          description: "Número da Fatura (nFat)"
        originalAmount:
          type: "number"
          nullable: true
          description: "Valor Original da Fatura (vOrig)"
          format: "double"
        discountAmount:
          type: "number"
          nullable: true # Valor do desconto
          description: "Valor do desconto (vDesc)"
          format: "double"
        netAmount:
          type: "number"
          nullable: true
          description: "Valor Líquido da Fatura (vLiq)"
          format: "double"
      additionalProperties: false
    BillingResource:
      type: "object"
      properties:
        bill:
          description: "Grupo Fatura (fat)"
          $ref: "#/components/schemas/BillResource"
        duplicates:
          type: "array"
          nullable: true
          items:
            $ref: "#/components/schemas/DuplicateResource"
          description: "Grupo Duplicata (dup)"
      additionalProperties: false # Grupo Cobrança (cobr)
    BuyerResource:
      type: "object"
      required:
        - name
        - federalTaxNumber
        - address
      properties:
        accountId:
          type: "string"
          nullable: true
          description: "Identificador da Conta"
        id:
          type: "string"
          nullable: true
          description: "Identificação"
        name:
          type: "string"
          description: "Nome ou Razão Social (xNome)"
        federalTaxNumber:
          type: "integer" # O valor padrão de consumerType é determinado com base neste campo. Se for um CNPJ, o padrão será "Normal"; se for um CPF, será "FinalConsumer".
          description: "CNPJ ou CPF (CNPJ/CPF)"
          format: "int64"
        email:
          type: "string"
          nullable: true # Email — opcional pelo leiaute SEFAZ
          description: "Email (email)"
        address:
          description: "Dados do Endereço (enderDest)"
          $ref: "#/components/schemas/AddressResource"
        type:
          description: "Tipo da pessoa (indIEDest)"
          $ref: "#/components/schemas/PersonType"
        stateTaxNumberIndicator:
          description: "Indicador Inscrição Estadual (indIEDest)"
          $ref: "#/components/schemas/ReceiverStateTaxIndicator"
        tradeName:
          type: "string" # Nome fantasia
          nullable: true
          description: "Nome fantasia (xFant)"
        taxRegime:
          description: "Regime de tributação (CRT)"
          $ref: "#/components/schemas/TaxRegime"
        stateTaxNumber:
          type: "string"
          nullable: true # Inscrição Estadual
          description: "Inscrição Estadual (IE)"
      additionalProperties: false
      description: "Identificação do Destinatário da Nota Fiscal eletrônica - Grupo Obrigatório para a NF-e (modelo 55) e opcional para NFC-e (modelo 65)."
    CBSTaxResource:
      type: "object"
      description: "Grupo de Informações da CBS"
      properties:
        rate:
          type: "number" # Alíquota da CBS (em percentual)
          nullable: true
          description: "Alíquota da CBS (em percentual) (pCBS)"
          format: "double"
        deferment:
          description: "Grupo de Informações do Diferimento (gDif)"
          $ref: "#/components/schemas/DefermentTaxResource"
        returnedAmount:
          description: "Grupo de Informações da Devolução de Tributos (gDevTrib)"
          $ref: "#/components/schemas/ReturnedTaxResource"
        reduction:
          description: "Grupo de informações da redução da alíquota (gRed)"
          $ref: "#/components/schemas/ReductionTaxResource"
        amount:
          type: "number"
          nullable: true # Valor total da CBS
          description: "Valor total da CBS (vCBS)."
          format: "double"
      additionalProperties: false
    CIDEResource:
      type: "object"
      properties:
        bc:
          type: "number" # BC da CIDE
          nullable: true
          description: "BC da CIDE (qBCProd)"
          format: "double"
        rate:
          type: "number"
          nullable: true
          description: "Valor da alíquota da CIDE (vAliqProd)"
          format: "double"
        cideAmount:
          type: "number" # Valor da CIDE
          nullable: true
          description: "Valor da CIDE (vCIDE)"
          format: "double"
      additionalProperties: false
    CardResource:
      type: "object"
      properties:
        federalTaxNumber:
          type: "string" # CNPJ da Credenciadora de cartão de crédito e/ou débito
          nullable: true
          description: "CNPJ da Credenciadora de cartão de crédito e/ou débito (CNPJ)"
        flag:
          description: "Bandeira da operadora de cartão de crédito e/ou débito (tBand)"
          $ref: "#/components/schemas/FlagCard"
        authorization:
          type: "string"
          nullable: true # Número de autorização da operação cartão de crédito e/ou débito
          description: "Número de autorização da operação cartão de crédito e/ou débito (cAut)"
        integrationPaymentType:
          description: "Tipo de Integração para pagamento (tpIntegra)"
          $ref: "#/components/schemas/IntegrationPaymentType"
        federalTaxNumberRecipient:
          type: "string" # CNPJ do beneficiário do pagamento
          nullable: true
        idPaymentTerminal:
          type: "string"
          nullable: true
      additionalProperties: false
    CityResource:
      type: "object"
      required:
        - code
        - name
      properties:
        code:
          type: "string" # Cód. do Município
          description: "Cód. do Município, segundo o Tabela de Municípios do IBGE (cMun)"
        name:
          type: "string"
          description: "Nome do Município (xMun)"
      additionalProperties: false
    CofinsTaxResource:
      type: "object"
      required:
        - cst
      properties:
        cst:
          type: "string" # Código de Situação Tributária da COFINS
          description: "Código de Situação Tributária da COFINS (CST)"
        baseTax:
          type: "number"
          nullable: true
          description: "Valor da Base de Cálculo da COFINS (vBC)"
          format: "double"
        rate:
          type: "number"
          nullable: true # Alíquota da COFINS (em percentual)
          description: "Alíquota da COFINS (em percentual) (pCOFINS)"
          format: "double"
        amount:
          type: "number"
          nullable: true
          description: "Valor da COFINS (vCOFINS)"
          format: "double"
        baseTaxProductQuantity:
          type: "number"
          nullable: true # Quantidade Vendida
          description: "Quantidade Vendida (qBCProd)"
          format: "double"
        productRate:
          type: "number"
          nullable: true
          description: "Alíquota da COFINS (em reais) (vAliqProd)"
          format: "double"
      additionalProperties: false
      description: "Grupo do COFINS\r\n\r\nID: S01\r\nPai: M01\r\n\r\n    Obs: Informar apenas um dos grupos S02, S03, S04 ou S04\r\n    com base valor atribuído ao campo S06 – CST do COFINS\r\n"
    CompetenceAdjustmentResource:
      type: "object"
      description: "Ajuste de Competência (gAjusteCompet)"
      properties:
        assessmentPeriod:
          type: "string"
          nullable: true # Ano e mês referência do período de apuração
          description: "Ano e mês referência do período de apuração (AAAA-MM) (competApur)"
        ibsAmount:
          type: "number"
          nullable: true
          description: "Valor de IBS referente ao ajuste de competência (vIBS)"
          format: "double"
        cbsAmount:
          type: "number"
          nullable: true # Valor de CBS referente ao ajuste de competência
          description: "Valor de CBS referente ao ajuste de competência (vCBS)"
          format: "double"
      additionalProperties: false
    ConsumerPresenceType:
      type: "string"
      description: |
        Indicador de Presença (indPres).
        Valores possíveis:
        - `None`: Não se aplica (ex: nota complementar ou de ajuste)
        - `Presence`: Operação presencial
        - `Internet`: Operação não presencial, pela Internet
        - `Telephone`: Operação não presencial, Teleatendimento
        - `Delivery`: NFC-e em operação com entrega a domicílio
        - `OthersNonPresenceOperation`: Operação não presencial, outros
      enum:
        - "None"
        - "Presence"
        - "Internet"
        - "Telephone"
        - "Delivery"
        - "OthersNonPresenceOperation"
      default: "Internet"
    ConsumerType:
      type: "string"
      description: |
        Indica operação com Consumidor final (indFinal). O valor padrão é determinado pelo `federalTaxNumber` do `buyer`: `Normal` para CNPJ, `FinalConsumer` para CPF.
        Valores possíveis:
        - `FinalConsumer`: Consumidor final
        - `Normal`: Operação normal
      enum:
        - "FinalConsumer"
        - "Normal"
      default: "Normal" # O valor padrão é "Normal" para CNPJ e "FinalConsumer" para CPF.

    ConsumptionCityCode:
      type: "integer"
      nullable: true
      description: "Código do Município de ocorrência do fato gerador do IBS/CBS (cMunFGIBS). Informar o município de ocorrência do fato gerador do IBS/CBS. Este campo só é preenchido quando \"indPres = 5 (Operação presencial, fora do estabelecimento)\" e não incluir o endereço do destinatário (Grupo: E05) ou local de entrega (Grupo: G01)."
      format: "int64"
    ContingencyDetails:
      type: "object"
      properties:
        authorizer:
          $ref: "#/components/schemas/StateTaxProcessingAuthorizer"
        startedOn:
          type: "string"
          description: "Data e hora do início da contingência"
          format: "date-time"
        reason:
          type: "string" # Justificativa da entrada em contingência
          nullable: true
          description: "Justificativa da entrada em contingência"
      additionalProperties: false
    CreditReversalResource:
      type: "object"
      description: "Estorno de Crédito (gEstornoCred)"
      properties:
        ibsReversalAmount:
          type: "number" # Valor do IBS a ser estornado
          nullable: true
          description: "Valor do IBS a ser estornado (vIBSEstCred)"
          format: "double"
        cbsReversalAmount:
          type: "number"
          nullable: true
          description: "Valor da CBS a ser estornada (vCBSEstCred)"
          format: "double"
      additionalProperties: false
    CreditReversalTotalsResource:
      type: "object"
      description: "Estorno de Crédito (gEstornoCred)"
      properties:
        ibsReversalAmount:
          type: "number"
          nullable: true
          description: "Valor do IBS a ser estornado (vIBSEstCred)"
          format: "double"
        cbsReversalAmount:
          type: "number"
          nullable: true
          description: "Valor da CBS a ser estornada (vCBSEstCred)"
          format: "double"
      additionalProperties: false
    CreditTransferTaxResource:
      type: "object"
      description: "Informações de Transferências de Crédito (gTransfCred)"
      properties:
        ibsAmount:
          type: "number" # Valor de IBS a transferir
          nullable: true
          description: "Valor de IBS a transferir (vIBS)."
          format: "double"
        cbsAmount:
          type: "number"
          nullable: true
          description: "Valor de CBS a transferir (vCBS)."
          format: "double"
      additionalProperties: false
    CreditType:
      type: "string"
      nullable: true
      description: |
        Tipo de Nota de Crédito (tpNFCredito).
        Valores possíveis:
        - `FinesAndInterest`: Multa e juros
        - `IbsPresumedCreditAppropriationZfm`: Apropriação de crédito presumido de IBS sobre o saldo devedor na ZFM
        - `ReturnDeliveryRefusedOrNotFound`: Retorno por recusa na entrega ou não localização do destinatário
        - `ValueReduction`: Redução de valores
        - `TransferCreditSuccession`: Transferência de crédito na sucessão
      enum:
        - "FinesAndInterest"
        - "IbsPresumedCreditAppropriationZfm"
        - "ReturnDeliveryRefusedOrNotFound"
        - "ValueReduction"
        - "TransferCreditSuccession"
    DebitType:
      type: "string"
      nullable: true
      description: |
        Tipo de Nota de Débito (tpNFDebito).
        Valores possíveis:
        - `TransferCreditsToCooperatives`: Transferência de créditos para cooperativas
        - `CancelCreditsExemptImmuneSales`: Cancelamento de créditos por vendas isentas/imunes
        - `UnprocessedInvoicesDebits`: Débitos de faturas não processadas no cálculo
        - `FinesAndInterest`: Multas e juros
        - `TransferInheritanceCredit`: Transferência de crédito de herança
        - `AdvancePayment`: Pagamento antecipado
        - `InventoryLoss`: Perda de estoque
        - `SnDisqualification`: Desenquadramento do Simples Nacional
      enum:
        - "TransferCreditsToCooperatives"
        - "CancelCreditsExemptImmuneSales"
        - "UnprocessedInvoicesDebits"
        - "FinesAndInterest"
        - "TransferInheritanceCredit"
        - "AdvancePayment"
        - "InventoryLoss"
        - "SnDisqualification"
    DefermentTaxResource:
      type: "object"
      description: "Grupo de Informações do Diferimento"
      properties:
        rate:
          type: "number" # Percentual do diferimento
          nullable: true
          description: "Percentual do diferimento"
          format: "double"
        amount:
          type: "number"
          nullable: true
          description: "Valor do Diferimento"
          format: "double"
      additionalProperties: false
    DeliveryInformationResource:
      type: "object"
      properties:
        accountId:
          type: "string"
          nullable: true
          description: "Identificador da Conta"
        id:
          type: "string"
          nullable: true
          description: "Identificação"
        name:
          type: "string"
          nullable: true
          description: "Nome ou Razão Social (xNome)"
        federalTaxNumber:
          type: "integer"
          nullable: true # CNPJ ou CPF
          description: "CNPJ ou CPF"
          format: "int64"
        email:
          type: "string"
          nullable: true
          description: "Email"
        address:
          $ref: "#/components/schemas/AddressResource"
        type:
          $ref: "#/components/schemas/PersonType"
        stateTaxNumber:
          type: "string" # Inscrição Estadual
          nullable: true
          description: "Inscrição Estadual (IE)"
      additionalProperties: false
      description: "Identificação do Local de entrega (entrega)"
    Destination:
      type: "string"
      enum:
        - "None"
        - "InternalOperation"
        - "InterstateOperation"
        - "InternationalOperation"
      default: "InternalOperation" # Operação interna
      description: |
        Identificador de local de destino da operação (idDest).
        Valores possíveis:
        - `None`: Não definido
        - `InternalOperation`: Operação interna
        - `InterstateOperation`: Operação interestadual
        - `InternationalOperation`: Operação com o exterior
    DisablementResource:
      type: "object"
      properties:
        environment:
          $ref: "#/components/schemas/EnvironmentType"
        serie:
          type: "integer" # Série
          description: "Série"
          format: "int32"
        state:
          $ref: "#/components/schemas/StateCode"
        beginNumber:
          type: "integer"
          description: "Número inicial"
          format: "int32"
        lastNumber:
          type: "integer" # Número final
          description: "Número final (usar o mesmo número inicial se for apenas um número)"
          format: "int32"
        reason:
          type: "string"
          nullable: true
          description: "Motivo da inutilização"
      additionalProperties: false
      description: "Dados para inutilizar números de nota fiscal"
    DocumentElectronicInvoiceResource:
      type: "object"
      properties:
        accessKey:
          type: "string" # Chave de Acesso
          nullable: true
          description: "Chave de Acesso (refNFe)"
      additionalProperties: false
    DocumentInvoiceReferenceResource:
      type: "object"
      properties:
        state:
          type: "number" # Código da UF
          nullable: true
          description: "Código da UF (cUF)"
          format: "double"
        yearMonth:
          type: "string"
          nullable: true
          description: "Ano / Mês (AAMM)"
        federalTaxNumber:
          type: "string"
          nullable: true # CNPJ
          description: "CNPJ (CNPJ)"
        model:
          type: "string"
          nullable: true
          description: "Modelo (mod)"
        series:
          type: "string"
          nullable: true
          description: "Série (serie)"
        number:
          type: "string"
          nullable: true # Número
          description: "Número (nNF)"
      additionalProperties: false
    DuductionIndicator:
      type: "string"
      enum:
        - "NotDeduct"
        - "Deduce"
      description: |
        Indicador de dedução do ICMS desonerado do valor total da NF-e (indDeducao).
        Valores possíveis:
        - `NotDeduct`: O valor do ICMS desonerado (vICMSDeson) não deduz do valor total da NF-e
        - `Deduce`: O valor do ICMS desonerado (vICMSDeson) deduz do valor total da NF-e
    DuplicateResource:
      type: "object"
      properties:
        number:
          type: "string"
          nullable: true
          description: "Número da Duplicata (nDup)"
        expirationOn:
          type: "string"
          nullable: true # Data de vencimento
          description: "Data de vencimento (dVenc)"
          format: "date-time"
        amount:
          type: "number"
          nullable: true
          description: "Valor da duplicata (vDup)"
          format: "double"
      additionalProperties: false
    EconomicActivityResource:
      type: "object"
      properties:
        type:
          $ref: "#/components/schemas/EconomicActivityType"
        code:
          type: "integer" # Código da Atividade da Empresa
          nullable: true
          description: "Código da Atividade da Empresa"
          format: "int32"
      additionalProperties: false
    EconomicActivityType:
      type: "string"
      enum:
        - "Main"
        - "Secondary"
      description: |
        Tipo de Atividade Econômica.
        Valores possíveis:
        - `Main`: Principal
        - `Secondary`: Secundária
    EnvironmentType:
      type: "string"
      description: |
        Tipo de Ambiente (tpAmb).
        Valores possíveis:
        - `None`: Não definido
        - `Production`: Produção
        - `Test`: Homologação (Teste)
      enum:
        - "None"
        - "Production"
        - "Test"
    ErrorResource:
      type: "object"
      properties:
        code:
          type: "integer"
          nullable: true
          format: "int32"
        message:
          type: "string"
          nullable: true
      additionalProperties: false
    ErrorsResource:
      type: "object"
      properties:
        errors:
          type: "array"
          nullable: true
          items:
            $ref: "#/components/schemas/ErrorResource"
          readOnly: true
      additionalProperties: false
    ExemptReason:
      type: "string"
      enum:
        - "Agriculture"
        - "Others"
        - "DevelopmentEntities"
      description: |
        Motivo da desoneração. Campo será preenchido quando o campo anterior estiver preenchido.
        Valores possíveis:
        - `Agriculture`: Produtos agropecuários
        - `Others`: Outros
        - `DevelopmentEntities`: Órgãos de fomento e desenvolvimento
    ExportDetailResource:
      type: "object"
      properties:
        drawback:
          type: "string"
          nullable: true
          description: "Número do ato concessório de Drawback (nDraw)"
        hintInformation:
          $ref: "#/components/schemas/ExportHintResource" # Informações de exportação
      additionalProperties: false
    ExportHintResource:
      type: "object"
      properties:
        registryId:
          type: "string"
          nullable: true
          description: "Número do Registro de Exportação (nRE)"
        accessKey:
          type: "string" # Chave de Acesso da NF-e recebida para exportação
          nullable: true
          description: "Chave de Acesso da NF-e recebida para exportação (chNFe)"
        quantity:
          type: "number"
          nullable: true
          description: "Quantidade do item realmente exportado (qExport)"
          format: "double"
      additionalProperties: false
    ExportResource:
      type: "object"
      properties:
        state:
          $ref: "#/components/schemas/StateCode" # Sigla da UF
        office:
          type: "string"
          nullable: true
          description: "Descrição do Local de Embarque ou de transposição de fronteira (xLocExporta)"
        local:
          type: "string"
          nullable: true
          description: "Informações Complementares de interesse do Contribuinte (xLocDespacho)"
      additionalProperties: false
    FileResource:
      type: "object"
      properties:
        uri:
          type: "string"
          nullable: true
          description: "Endereço Absoluto URI para o arquivo"
      additionalProperties: false # Arquivo
      description: "Arquivo"
    FlagCard:
      type: "string"
      enum:
        - "None"
        - "Visa"
        - "Mastercard"
        - "AmericanExpress"
        - "Sorocred"
        - "DinersClub"
        - "Elo"
        - "Hipercard"
        - "Aura"
        - "Cabal"
        - "Alelo"
        - "BanesCard"
        - "CalCard"
        - "Credz"
        - "Discover"
        - "GoodCard"
        - "GreenCard"
        - "Hiper"
        - "JCB"
        - "Mais"
        - "MaxVan"
        - "Policard"
        - "RedeCompras"
        - "Sodexo"
        - "ValeCard"
        - "Verocheque"
        - "VR"
        - "Ticket"
        - "Other"
      description: |
        Bandeira da operadora de cartão de crédito e/ou débito (tBand).
        Valores possíveis:
        - `None`: Não definido
        - `Visa`: Visa
        - `Mastercard`: Mastercard
        - `AmericanExpress`: American Express
        - `Sorocred`: Sorocred
        - `DinersClub`: Diners Club
        - `Elo`: Elo
        - `Hipercard`: Hipercard
        - `Aura`: Aura
        - `Cabal`: Cabal
        - `Alelo`: Alelo
        - `BanesCard`: Banescard
        - `CalCard`: Calcard
        - `Credz`: Credz
        - `Discover`: Discover
        - `GoodCard`: Good Card
        - `GreenCard`: Green Card
        - `Hiper`: Hiper
        - `JCB`: JCB
        - `Mais`: Mais
        - `MaxVan`: Maxvan
        - `Policard`: Policard
        - `RedeCompras`: Rede Compras
        - `Sodexo`: Sodexo
        - `ValeCard`: ValeCard
        - `Verocheque`: Verocheque
        - `VR`: VR
        - `Ticket`: Ticket
        - `Other`: Outros
    FuelOriginResource:
      type: "object"
      properties:
        indImport:
          type: "integer"
          nullable: true
          description: "Indicador de importação (indImport)"
          format: "int32"
        cUFOrig:
          type: "integer" # Código da UF
          nullable: true
          description: "Código da UF (cUFOrig)"
          format: "int32"
        pOrig:
          type: "number"
          nullable: true
          description: "Percentual originário para a UF (pOrig)"
          format: "double"
      additionalProperties: false
    VehicleDetailResource:
      type: "object"
      description: "Detalhamento de Veículos novos (veicProd) - grupo J01"
      properties:
        operationType:
          type: "integer"
          nullable: true
          description: |
            Tipo da Operação (tpOp).
            Valores possíveis:
            - `0`: Outros
            - `1`: Venda concessionária
            - `2`: Faturamento direto para consumidor final
            - `3`: Venda direta para grandes consumidores
          format: "int32"
          enum: [0, 1, 2, 3]
        chassis:
          type: "string"
          nullable: true
          description: "Chassi do veículo - VIN (chassi). 17 caracteres alfanuméricos"
          minLength: 17
          maxLength: 17
          pattern: "^[A-Z0-9]+$"
        colorCode:
          type: "string"
          nullable: true
          description: "Cor do veículo - código de cada montadora (cCor)"
          maxLength: 4
        colorDescription:
          type: "string"
          nullable: true
          description: "Descrição da Cor (xCor)"
          maxLength: 40
        enginePower:
          type: "string"
          nullable: true
          description: "Potência máxima do motor em cavalo vapor - CV (pot)"
          maxLength: 4
        engineDisplacement:
          type: "string"
          nullable: true
          description: "Capacidade volumétrica do motor em centímetros cúbicos - CC (cilin)"
          maxLength: 4
        netWeight:
          type: "string"
          nullable: true
          description: "Peso Líquido (pesoL)"
          maxLength: 9
        grossWeight:
          type: "string"
          nullable: true
          description: "Peso Bruto (pesoB)"
          maxLength: 9
        serialNumber:
          type: "string"
          nullable: true
          description: "Serial - série (nSerie)"
          maxLength: 9
        fuelType:
          type: "string"
          nullable: true
          description: "Tipo de combustível - Tabela RENAVAM (tpComb). Ex: 01-Álcool; 02-Gasolina; 03-Diesel; 16-Álcool/Gas.; 17-Gas./Álcool/GNV; 18-Gasolina/Elétrico"
          maxLength: 2
        engineNumber:
          type: "string"
          nullable: true
          description: "Número do motor (nMotor)"
          maxLength: 21
        maximumTractionCapacity:
          type: "string"
          nullable: true
          description: "Capacidade Máxima de Tração em toneladas - 4 casas decimais (CMT)"
          maxLength: 9
        wheelBase:
          type: "string"
          nullable: true
          description: "Distância entre eixos (dist)"
          maxLength: 4
        modelYear:
          type: "integer"
          nullable: true
          description: "Ano Modelo de Fabricação (anoMod). Formato: 4 dígitos"
          format: "int32"
        manufactureYear:
          type: "integer"
          nullable: true
          description: "Ano de Fabricação (anoFab). Formato: 4 dígitos"
          format: "int32"
        paintType:
          type: "string"
          nullable: true
          description: "Tipo de pintura (tpPint)"
          maxLength: 1
        vehicleType:
          type: "string"
          nullable: true
          description: "Tipo de veículo - Tabela RENAVAM (tpVeic)"
          maxLength: 2
        vehicleSpecies:
          type: "integer"
          nullable: true
          description: "Espécie de veículo - Tabela RENAVAM (espVeic)"
          format: "int32"
        vinCondition:
          type: "string"
          nullable: true
          description: |
            Condição do VIN — chassi (VIN).
            Valores possíveis:
            - `R`: Remarcado (chassi regravado pelo DETRAN)
            - `N`: Normal (chassi original de fábrica)
          enum: ["R", "N"]
        vehicleCondition:
          type: "integer"
          nullable: true
          description: |
            Condição do veículo (condVeic).
            Valores possíveis:
            - `1`: Acabado (veículo pronto para uso)
            - `2`: Inacabado (veículo sem algum componente essencial)
            - `3`: Semi-acabado (veículo parcialmente montado, ex: chassis-cabina)
          format: "int32"
          enum: [1, 2, 3]
        brandModelCode:
          type: "string"
          nullable: true
          description: "Código Marca Modelo - Tabela RENAVAM (cMod)"
          maxLength: 6
        denatranColorCode:
          type: "string"
          nullable: true
          description: "Código da Cor DENATRAN (cCorDENATRAN). 01-AMARELO; 02-AZUL; 03-BEGE; 04-BRANCA; 05-CINZA; 06-DOURADA; 07-GRENA; 08-LARANJA; 09-MARROM; 10-PRATA; 11-PRETA; 12-ROSA; 13-ROXA; 14-VERDE; 15-VERMELHA; 16-FANTASIA"
          maxLength: 2
        seatingCapacity:
          type: "integer"
          nullable: true
          description: "Quantidade máxima de passageiros sentados, inclusive motorista (lota)"
          format: "int32"
        restrictionType:
          type: "integer"
          nullable: true
          description: |
            Tipo de restrição sobre o veículo (tpRest).
            Valores possíveis:
            - `0`: Não há restrição (veículo livre para venda e transferência)
            - `1`: Alienação Fiduciária (veículo dado como garantia em financiamento)
            - `2`: Arrendamento Mercantil (veículo em contrato de leasing)
            - `3`: Reserva de Domínio (vendedor mantém a propriedade até quitação total)
            - `4`: Penhor de Veículos (veículo dado como garantia em empréstimo)
            - `9`: Outras restrições
          format: "int32"
          enum: [0, 1, 2, 3, 4, 9]
      additionalProperties: false
    FuelResource:
      type: "object"
      properties:
        codeANP:
          type: "string" # Código de produto da ANP
          nullable: true
          description: "Código de produto da ANP (cProdANP)"
        percentageNG:
          type: "number"
          nullable: true
          description: "Percentual de Gás Natural para o produto GLP (cProdANP=210203001) (pMixGN)"
          format: "double"
        descriptionANP:
          type: "string"
          nullable: true # Descrição do produto conforme ANP
          description: "Descrição do produto conforme ANP (descANP)"
        percentageGLP:
          type: "number"
          nullable: true
          description: "Percentual do GLP derivado do petróleo no produto GLP (cProdANP=210203001) (pGLP)"
          format: "double"
        percentageNGn:
          type: "number"
          nullable: true # Percentual de Gás Natural Nacional
          description: "Percentual de Gás Natural Nacional – GLGNn para o produto GLP (cProdANP= 210203001) (pGNn)"
          format: "double"
        percentageGNi:
          type: "number"
          nullable: true
          description: "Percentual \r\nde Gás Natural Importado – GLGNi para o produto GLP (cProdANP= 210203001) (pGNi)"
          format: "double"
        startingAmount:
          type: "number"
          nullable: true # Valor de partida
          description: "Valor de partida (cProdANP=210203001) (vPart)"
          format: "double"
        codif:
          type: "string"
          nullable: true
          description: "Código de autorização / registro do CODIF (CODIF)"
        amountTemp:
          type: "number"
          nullable: true # Quantidade de combustível faturada à temperatura ambiente
          description: "Quantidade de combustível faturada à temperatura ambiente (qTemp)"
          format: "double"
        stateBuyer:
          type: "string"
          nullable: true
          description: "Sigla da UF de consumo (UFCons)"
        cide:
          $ref: "#/components/schemas/CIDEResource"
        pump:
          $ref: "#/components/schemas/PumpResource"
        fuelOrigin:
          $ref: "#/components/schemas/FuelOriginResource"
      additionalProperties: false
    GovernmentPurchaseEntityType:
      type: "string"
      nullable: true
      description: |
        Tipo de ente governamental (tpEnteGov). Para administração pública direta e suas autarquias e fundações.
        Valores possíveis:
        - `Union`: União
        - `State`: Estado
        - `FederalDistrict`: Distrito Federal
        - `Municipality`: Município
      enum:
        - "Union"
        - "State"
        - "FederalDistrict"
        - "Municipality"
    GovernmentPurchaseOperationType:
      type: "string"
      nullable: true
      description: |
        Tipo de operação com o ente governamental (tpOperGov).
        Valores possíveis:
        - `Supply`: Fornecimento
        - `Payment`: Recebimento do pagamento
        - `SupplyThenPay`: Fornecimento e pagamento simultâneo
        - `PayForPastSupply`: Pagamento por fornecimento passado
        - `SupplyAfterPay`: Fornecimento após pagamento
        - `PayNowSupplyLater`: Pagamento agora, fornecimento depois
        - `SupplyAndPayNow`: Fornecimento e pagamento agora
      enum:
        - "Supply"
        - "Payment"
        - "SupplyThenPay"
        - "PayForPastSupply"
        - "SupplyAfterPay"
        - "PayNowSupplyLater"
        - "SupplyAndPayNow"
    GovernmentPurchaseResource:
      type: "object"
      description: "Grupo de Compras Governamentais (gCompraGov). Grupo opcional. Informar apenas para compras governamentais."
      properties:
        entityType:
          $ref: "#/components/schemas/GovernmentPurchaseEntityType" # Tipo de ente governamental
        rateReduction:
          type: "number"
          nullable: true
          description: "Percentual de redução de alíquota em compra governamental (pRedutor). Conforme o art. 472/370 da LC 214/2025."
          format: "double"
        operationType:
          $ref: "#/components/schemas/GovernmentPurchaseOperationType"
      additionalProperties: false
    GovernmentPurchaseTaxResource:
      type: "object"
      description: "Grupo de informações sobre a composição do valor do IBS e CBS nas compras governamentais. Informar apenas para compras governamentais."
      properties:
        stateRate:
          type: "number" # Alíquota IBS UF em compras governamentais
          nullable: true
          description: "Alíquota IBS UF em compras governamentais (pAliqIBSUF)."
          format: "double"
        stateAmount:
          type: "number"
          nullable: true
          description: "Valor IBS UF em compras governamentais (vTribIBSUF)."
          format: "double"
        municipalRate:
          type: "number" # Alíquota IBS Município em compras governamentais
          nullable: true
          description: "Alíquota IBS Município em compras governamentais (pAliqIBSMun)."
          format: "double"
        municipalAmount:
          type: "number"
          nullable: true
          description: "Valor IBS Município em compras governamentais (vTribIBSMun)."
          format: "double"
        cbsRate:
          type: "number" # Alíquota CBS em compras governamentais
          nullable: true
          description: "Alíquota CBS em compras governamentais (pAliqCBS)."
          format: "double"
        cbsAmount:
          type: "number"
          nullable: true
          description: "Valor CBS em compras governamentais (vTribCBS)"
          format: "double"
      additionalProperties: false
    IBSCBSTaxResource:
      type: "object"
      description: "Grupo de Informações do IBS e CBS"
      properties:
        situationCode:
          type: "string"
          nullable: true # Código de Situação Tributária do IBS/CBS
          description: "Código de Situação Tributária do IBS/CBS (CST). Campo opcional. Se preenchido, será considerado; caso contrário, será definido com base no valor informado no campo `classCode`. Consulte a tabela de referência de `situationCode` (CST) disponível na nossa documentação funcional."
          maxLength: 3
        classCode:
          type: "string"
          nullable: true
          description: "Código de Classificação Tributária do IBS/CBS (cClassTrib). Consulte a tabela de referência [cClassTrib](https://nfe.io/docs/documentacao/reforma-tributaria/conceitos-funcionais/tabelas-de-referencia/tabela-referencia-cst-classificacao-tributaria-ibs-cbs/) disponível na nossa documentação funcional."
          maxLength: 6
        calculationMode:
          type: "string"
          nullable: true
          description: |
            Modo de cálculo do IBS/CBS.
            Valores possíveis:
            - `Manual`: Preenchimento manual dos campos de tributo.
            - `OfficialService`: Utiliza o serviço oficial para calcular IBS/CBS. Quando ativo, apenas `situationCode` e `classCode` são necessários; os demais campos de tributo são ignorados na entrada e preenchidos pelo serviço.
          enum:
            - "Manual"
            - "OfficialService"
          default: "Manual"
        donationIndicator:
          type: "string"
          nullable: true # Indica a natureza da operação de doação
          description: "Indica a natureza da operação de doação, orientando a apuração e a geração de débitos ou estornos conforme o cenário (indDoacao). Informar quando for doação."
          maxLength: 1
        basis:
          type: "number"
          nullable: true
          description: "Base de cálculo antes de reduções para cálculo do tributo bruto. Este campo é opcional. Se enviado, será considerado; caso contrário, será calculado."
          format: "double"
        state:
          $ref: "#/components/schemas/IBSStateTaxResource"
        municipal: # Grupo de Informações do IBS para o município
          $ref: "#/components/schemas/IBSMunicipalTaxResource"
        ibsTotalAmount:
          type: "number"
          nullable: true
          description: "Total do IBS (vIBSTot = vIBSUF + vIBSMun). Quando houver crédito presumido com o indicador \"IndDeduzCredPres=1\", o valor de vCredPres deve ser deduzido deste total."
          format: "double"
        cbs:
          $ref: "#/components/schemas/CBSTaxResource"
        regularTaxation: # Tributação regular hipotética
          description: "Tributação regular hipotética caso condição resolutória/suspensiva não se aplique."
          $ref: "#/components/schemas/RegularTaxationResource"
        governmentPurchase:
          description: "Grupo de informações sobre a composição do valor do IBS e CBS nas compras governamentais."
          $ref: "#/components/schemas/GovernmentPurchaseTaxResource"
        monophase:
          description: "Grupo de Informações do IBS e CBS sobre transações monofásicas"
          $ref: "#/components/schemas/MonophaseIBSCBSTaxResource"
        creditTransfer: # Grupo de Informações sobre Transferências de Crédito
          description: "Grupo de Informações sobre Transferências de Crédito"
          $ref: "#/components/schemas/CreditTransferTaxResource"
        operationalPresumedCredit: # Informações sobre o crédito presumido operacional
          description: "Informações sobre o crédito presumido operacional (gCredPresOper)."
          $ref: "#/components/schemas/OperationalPresumedCreditResource"
        creditReversal:
          description: "Estorno de Crédito (gEstornoCred). Observação: a obrigatoriedade ou vedação do preenchimento deste grupo está condicionada ao indicador “ind_gEstornoCred” da tabela de cClassTrib do IBS e da CBS."
          $ref: "#/components/schemas/CreditReversalResource"
        zfmPresumedCredit:
          description: "Informações sobre o crédito presumido de IBS para fornecimentos da ZFM (gCredPresIBSZFM)."
          $ref: "#/components/schemas/ZfmPresumedCreditResource" # Informações sobre o crédito presumido de IBS para fornecimentos da ZFM
      additionalProperties: false
    ICMSTotal:
      type: "object"
      properties:
        baseTax:
          type: "number"
          nullable: true
          description: "Base de Cálculo do ICMS (vBC)"
          format: "double"
        icmsAmount:
          type: "number"
          nullable: true
          description: "Valor Total do ICMS (vICMS)"
          format: "double"
        icmsExemptAmount:
          type: "number"
          nullable: true
          description: "Valor ICMS Total desonerado (vICMSDeson)"
          format: "double"
        stCalculationBasisAmount:
          type: "number"
          nullable: true
          description: "Base de Cálculo do ICMS Substituição Tributária (vBCST)"
          format: "double"
        stAmount:
          type: "number"
          nullable: true
          description: "Valor Total do ICMS ST (vST)"
          format: "double"
        productAmount:
          type: "number"
          description: "Valor Total dos produtos e serviços (vProd)" # Valor Total dos produtos e serviços
          format: "double"
        freightAmount:
          type: "number"
          nullable: true
          description: "Valor Total do Frete (vFrete)"
          format: "double"
        insuranceAmount:
          type: "number"
          nullable: true # Valor Total do Seguro
          description: "Valor Total do Seguro (vSeg)"
          format: "double"
        discountAmount:
          type: "number"
          nullable: true
          description: "Valor Total do Desconto (vDesc)"
          format: "double"
        iiAmount:
          type: "number"
          nullable: true
          description: "Valor Total do Imposto de Importação (vII)"
          format: "double"
        ipiAmount:
          type: "number"
          nullable: true
          description: "Valor Total do IPI (vIPI)"
          format: "double"
        pisAmount:
          type: "number"
          nullable: true
          description: "Valor do PIS (vPIS)"
          format: "double"
        cofinsAmount:
          type: "number"
          nullable: true
          description: "Valor do COFINS (vCOFINS)"
          format: "double"
        othersAmount:
          type: "number"
          nullable: true
          description: "Outras Despesas acessórias (vOutro)"
          format: "double"
        invoiceAmount:
          type: "number"
          description: "Valor Total da NF-e (vNF)" # Valor Total da NF-e
          format: "double"
        fcpufDestinationAmount:
          type: "number"
          nullable: true
          description: "Valor Total ICMS FCP UF Destino"
          format: "double"
        icmsufDestinationAmount:
          type: "number"
          nullable: true
          description: "Valor Total ICMS Interestadual UF Destino"
          format: "double"
        icmsufSenderAmount:
          type: "number"
          nullable: true
          description: "Valor Total ICMS Interestadual UF Rem."
          format: "double"
        federalTaxesAmount:
          type: "number"
          description: "Valor aproximado total de tributos federais, estaduais e municipais. (vTotTrib)"
          format: "double"
        fcpAmount:
          type: "number"
          nullable: true
          description: "Valor Total do FCP - Valor do ICMS relativo ao Fundo de Combate à Pobreza (vFCP)"
          format: "double"
        fcpstAmount:
          type: "number"
          nullable: true
          description: "Valor Total do FCP retido por ST - Valor do ICMS relativo ao Fundo de Combate à Pobreza (vFCPST) retido por substituição tributária."
          format: "double"
        fcpstRetAmount:
          type: "number"
          nullable: true
          description: "Valor Total do FCP retido por anteriormente por ST - Valor do ICMS relativo ao Fundo de Combate à Pobreza (vFCP) retido anteriormente por substituição tributária."
          format: "double"
        ipiDevolAmount:
          type: "number"
          nullable: true
          description: "Valor total do IPI devolvido (vIPIDevol)"
          format: "double"
        qBCMono:
          type: "number"
          nullable: true # Valor total da quantidade tributada do ICMS monofásico próprio
          format: "double"
        vICMSMono:
          type: "number"
          nullable: true
          description: "Valor total do ICMS monofásico próprio (vICMSMono)."
          format: "double"
        qBCMonoReten:
          type: "number"
          nullable: true # Valor total da quantidade tributada do ICMS monofásico sujeito a retenção
          description: "Valor total da quantidade tributada do ICMS monofásico sujeito a retenção (qBCMonoReten)."
          format: "double"
        vICMSMonoReten:
          type: "number"
          nullable: true
          description: "Valor total da quantidade tributada do ICMS monofásico retido anteriormente(vICMSMonoReten)"
          format: "double"
        qBCMonoRet:
          type: "number"
          nullable: true # Valor total do ICMS monofásico retido anteriormente
          description: "Valor total do ICMS monofásico retido anteriormente (vICMSMonoRet)"
          format: "double"
        vICMSMonoRet:
          type: "number"
          nullable: true
          description: "Valor total do ICMS monofásico retido anteriormente (vICMSMonoRet)"
          format: "double"
      additionalProperties: false
      description: "Grupo de Valores Totais referentes ao ICMS"
    ICMSTotalResource:
      type: "object"
      properties:
        baseTax:
          type: "number"
          nullable: true
          description: "Base de Cálculo do ICMS (vBC)"
          format: "double"
        icmsAmount:
          type: "number"
          nullable: true
          description: "Valor Total do ICMS (vICMS)"
          format: "double"
        icmsExemptAmount:
          type: "number"
          nullable: true
          description: "Valor ICMS Total desonerado (vICMSDeson)"
          format: "double"
        stCalculationBasisAmount:
          type: "number"
          nullable: true
          description: "Base de Cálculo do ICMS Substituição Tributária (vBCST)"
          format: "double"
        stAmount:
          type: "number"
          nullable: true
          description: "Valor Total do ICMS ST (vST)"
          format: "double"
        productAmount:
          type: "number"
          nullable: true
          description: "Valor Total dos produtos e serviços (vProd)"
          format: "double"
        freightAmount:
          type: "number"
          nullable: true
          description: "Valor Total do Frete (vFrete)"
          format: "double"
        insuranceAmount:
          type: "number"
          nullable: true # Valor Total do Seguro
          description: "Valor Total do Seguro (vSeg)"
          format: "double"
        discountAmount:
          type: "number"
          nullable: true
          description: "Valor Total do Desconto (vDesc)"
          format: "double"
        iiAmount:
          type: "number"
          nullable: true
          description: "Valor Total do Imposto de Importação (vII)"
          format: "double"
        ipiAmount:
          type: "number"
          nullable: true
          description: "Valor Total do IPI (vIPI)"
          format: "double"
        pisAmount:
          type: "number"
          nullable: true
          description: "Valor do PIS (vPIS)"
          format: "double"
        cofinsAmount:
          type: "number"
          nullable: true
          description: "Valor do COFINS (vCOFINS)"
          format: "double"
        othersAmount:
          type: "number"
          nullable: true
          description: "Outras Despesas acessórias (vOutro)"
          format: "double"
        invoiceAmount:
          type: "number"
          nullable: true
          description: "Valor Total da NF-e (vNF)"
          format: "double"
        fcpufDestinationAmount:
          type: "number"
          nullable: true
          description: "Valor Total ICMS FCP UF Destino (vFCPUFDest)"
          format: "double"
        icmsufDestinationAmount:
          type: "number"
          nullable: true
          description: "Valor Total ICMS Interestadual UF Destino (vICMSUFDest)"
          format: "double"
        icmsufSenderAmount:
          type: "number"
          nullable: true
          description: "Valor Total ICMS Interestadual UF Remetente (vICMSUFRemet)"
          format: "double"
        federalTaxesAmount:
          type: "number"
          nullable: true # Valor aproximado total de tributos federais, estaduais e municipais
          description: "Valor aproximado total de tributos federais, estaduais e municipais.\r\n(vTotTrib)"
          format: "double"
        fcpAmount:
          type: "number"
          nullable: true
          description: "Valor Total do FCP - Valor do ICMS relativo ao Fundo de Combate à Pobreza (vFCP)"
          format: "double"
        fcpstAmount:
          type: "number"
          nullable: true
          description: "Valor Total do FCP retido por ST - Valor do ICMS relativo ao Fundo de Combate à Pobreza (vFCPST) retido por substituição tributária."
          format: "double"
        fcpstRetAmount:
          type: "number"
          nullable: true
          description: "Valor Total do FCP retido por anteriormente por ST - Valor do ICMS relativo ao Fundo de Combate à Pobreza retido anteriormente por substituição tributária (vFCPSTRet)"
          format: "double"
        ipiDevolAmount:
          type: "number"
          nullable: true
          description: "Valor total do IPI devolvido (vIPIDevol)"
          format: "double"
        qBCMono:
          type: "number"
          nullable: true # Valor total da quantidade tributada do ICMS monofásico próprio
          description: "Valor total da quantidade tributada do ICMS monofásico próprio (qBCMono)"
          format: "double"
        vICMSMono:
          type: "number"
          nullable: true
          description: "Valor total do ICMS monofásico próprio (vICMSMono)."
          format: "double"
        qBCMonoReten:
          type: "number"
          nullable: true # Valor total da quantidade tributada do ICMS monofásico sujeito a retenção
          description: "Valor total da quantidade tributada do ICMS monofásico sujeito a retenção (qBCMonoReten)."
          format: "double"
        vICMSMonoReten:
          type: "number"
          nullable: true
          description: "Valor total da quantidade tributada do ICMS monofásico retido anteriormente(vICMSMonoReten)"
          format: "double"
        qBCMonoRet:
          type: "number"
          nullable: true # Valor total da quantidade tributada do ICMS monofásico retido anteriormente
          description: "Valor total da quantidade tributada do ICMS monofásico retido anteriormente(qBCMonoRet)"
          format: "double"
        vICMSMonoRet:
          type: "number"
          nullable: true
          description: "Valor total do ICMS monofásico retido anteriormente (vICMSMonoRet)"
          format: "double"
      additionalProperties: false
      description: "Grupo de Valores Totais referentes ao ICMS"
    ICMSUFDestinationTaxResource:
      type: "object"
      properties:
        vBCUFDest:
          type: "number"
          nullable: true # Valor da Base de Cálculo do ICMS na UF de destino
          description: "Valor da Base de Cálculo do ICMS na UF de destino (vBCUFDest)"
          format: "double"
        pFCPUFDest:
          type: "number"
          nullable: true
          description: "Percentual adicional inserido na alíquota interna da UF de destino, relativo ao Fundo de Combate à Pobreza (FCP) naquela UF (pFCPUFDest)"
          format: "double"
        pICMSUFDest:
          type: "number"
          nullable: true # Alíquota adotada nas operações internas na UF de destino para o produto / mercadoria
          description: "Alíquota adotada nas operações internas na UF de destino para o produto / mercadoria (pICMSUFDest)"
          format: "double"
        pICMSInter:
          type: "number"
          nullable: true
          description: "Alíquota interestadual das UF envolvidas (pICMSInter)"
          format: "double"
        pICMSInterPart:
          type: "number"
          nullable: true # Percentual de ICMS Interestadual para a UF de destino
          description: "Percentual de ICMS Interestadual para a UF de destino (pICMSInterPart)"
          format: "double"
        vFCPUFDest:
          type: "number"
          nullable: true
          description: "Valor do ICMS relativo ao Fundo de Combate à Pobreza (FCP) da UF de destino (vFCPUFDest"
          format: "double"
        vICMSUFDest:
          type: "number"
          nullable: true # Valor do ICMS Interestadual para a UF de destino
          description: "Valor do ICMS \r\nInterestadual para a UF de destino (vICMSUFDest)"
          format: "double"
        vICMSUFRemet:
          type: "number"
          nullable: true
          description: "Valor do ICMS Interestadual para a UF do remetente (vICMSUFRemet)"
          format: "double"
        vBCFCPUFDest:
          type: "number"
          nullable: true # Valor da BC FCP na UF de destino
          description: "Valor da BC FCP na UF de destino (vBCFCPUFDest)"
[...]
